<app-header-section></app-header-section>
<div class="container d-flex justify-content-center px-0">
  <mat-card style="width:100%;max-width: 420px" class="px-sm-0 p-md-5 my-sm-0 my-md-5 text-center align-items-center">

    <img style="height:80px; width:80px" src="../../../assets/icons/swotbook-logo.svg">
    <div style="font-size:2rem">Swotbook</div>
    <div class="mt-4">Timeline of you valuable analysis</div>
    <div class="mt-4">
      <app-google-button></app-google-button>

    </div>
    <div class="mt-2">
      <app-facebook-button class="mt-2"></app-facebook-button>

    </div>
    <div class="mt-4 px-sm-3 px-md-4">
      <small style="color:gray">By creating an account, you are agreeing to our Terms of Service and Privacy Policy.
      </small>
    </div>

  </mat-card>
</div>


<app-footer-section></app-footer-section>
