.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 6px 8px 8px 0px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.theme-bg{
  color:white;
  background-color: #145D81;
}

.mat-card{
  margin-top: 25px;
  box-shadow: 0 4px 13px rgba(20, 93, 128, 0.3);
  border-radius: 10px;
  padding: 16px;
}

.feature-header{
  font-size:24px;
  color:#145D80;
}
