<app-header-section></app-header-section>

<!--<app-intro-two></app-intro-two>-->
<div class="container">
  <div class="row">
    <div class="col d-flex flex-column text-center align-items-center">
      <div style="height:150px" class="d-none d-lg-block"></div>
      <h1 style="font-style: normal;font-weight: bold;
    font-size: 60px;
    color: #145D80;">Faster Better Everyday!</h1>
      <div style="
          max-width: 580px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #444444;
    margin-top: 10px;
      ">Swotbook is a SWOT tool platform to help you analyse, organize and prioritise your tasks, daily.
      </div>
      <div>
        <button *ngIf="!(currentUser$ | async).uid" class="mt-5" mat-button mat-raised-button style="
        width:200px;
        background: linear-gradient(90deg, #145D80 0%, #55EBBE 172.83%);
        border-radius: 30px;
        color: white;
        height: 45px;
        margin-top: 15px;
        font-size:20px;
        " (click)="openDialog('Login')">
          Get Started
        </button>
          <button *ngIf="(currentUser$ | async).uid" class="mt-5" mat-button mat-raised-button style="
        width:200px;
        background: linear-gradient(90deg, #145D80 0%, #55EBBE 172.83%);
        border-radius: 30px;
        color: white;
        height: 45px;
        margin-top: 15px;
        font-size:20px;
        " [routerLink]="('/swot')">
            To Canvas
          </button>
      </div>
      <div style="height:150px" class="d-none d-lg-block"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <h1 class="theme-color">Why <span style="border-bottom: 5px solid #55EBBE;">Swotbook?</span></h1>
    </div>
  </div>

  <div class="row" style="margin-bottom: 25px">

    <div class="col-12 col-md-6">
      <div class="mat-card">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img alt="" style="margin:auto; width:105px; height:105px" src="../../../assets/icons/home-page/benefit-1.svg">
          </div>
          <div class="col-12 col-md">
            <div class="feature-header">Prioritize & Categorize</div>
            <div>Clearly see a big picture of what matter in life, and start action on what matter the most.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="mat-card">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img alt="" style="margin:auto; width:105px; height:105px" src="../../../assets/icons/home-page/benefit-2.svg">
          </div>
          <div class="col-12 col-md">
            <div class="feature-header">Make it daily easy</div>
            <div>Because everything is constantly changing. Swotbook make coming back a breeze.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="mat-card">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img alt="" style="margin:auto; width:105px; height:105px" src="../../../assets/icons/home-page/benefit-3.svg">
          </div>
          <div class="col-12 col-md">
            <div class="feature-header">Knows what have done and changed</div>
            <div>Keep track of your analysis anytime in one place,as timeline, and never lost it again.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="mat-card">
        <div class="row">
          <div class="col-12 col-md-auto text-center">
            <img alt="" style="margin:auto; width:105px; height:105px" src="../../../assets/icons/home-page/benefit-4.svg">
          </div>
          <div class="col-12 col-md">
            <div class="feature-header">Make a great tool great, not hassle</div>
            <div>Great tool should not be let down by hassle when actually doing it. It should be great.</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="height:50px"></div>

  <div class="row">
    <div class="col-md-6">
      <img alt="" style="width:auto; height:auto" src="../../../assets/icons/home-page/desktop-mobile-view.svg">
    </div>
    <div class="col-md-6">

      <div class="row mx-0 mt-4">
        <div style="width:8px; height: auto; background: linear-gradient(180deg, #145D80 0%, #55EBBE 100%);"></div>
        <div class="col" style="
          font-style: normal;
          font-weight: bold;
          font-size: 28px;
          line-height: 150%;
          color: #444444;
        ">
          "We also love pen and papers, but nothing is perfect.
          Now you can start your analysis in seconds."
        </div>
      </div>
      <div class="row m-0">
        <div class="col">
          <div style="font-style: normal;font-weight: bold;font-size: 24px;color: #145D80;" class="mt-5">No hassle, Big
            results plan
          </div>
          <div><img alt="" src="../../../assets/icons/tick-mark.svg" class="mr-3 mt-3" style="vertical-align: sub">Join our
            free standard plan
          </div>
          <div><img alt="" src="../../../assets/icons/tick-mark.svg" class="mr-3 mt-3" style="vertical-align: sub">Upgrade
            the package whenever you want
          </div>
          <div><img alt="" src="../../../assets/icons/tick-mark.svg" class="mr-3 mt-3" style="vertical-align: sub">Enjoy
            full benefits of your package
          </div>
          <div style="font-style: italic;
font-weight: normal;
font-size: 16px; color: #444444;" class="mt-5">
            Even less hassle, no credit card need to use the standard package forever.
          </div>

        </div>


      </div>


    </div>
  </div>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col d-flex flex-column text-center align-items-center">
      <div style="font-size:36px;color: #145D80;">Template ideas</div>
      <div style="max-width:800px; color:#444444;">Unlimited idea to customize the analysis, from daily-todos, time-management, self-improvement and more. Here are some sameple of template ideas.
      </div>
    </div>
  </div>
<!--  template 1-->
  <div class="row mt-5">
    <div class="col-md-5 order-md-2">
      <img alt="" src="../../../assets/icons/home-page/template-idea-1.svg">
    </div>
    <div class="col-md-7 order-md-1 mt-md-5" >
      <div style="color: #145D80; font-size:32px; display: inline">SWOT</div><br>
      <div style="font-size: 20px; color:#444444">Knowing strengths and weaknesses inside out. Clearly visualize which to improve on or enhance.</div>
    </div>
  </div>
<!--  template 2-->
  <div class="row mt-5">
    <div class="col-md-5">
      <img alt="" src="../../../assets/icons/home-page/template-idea-2.svg">
    </div>
    <div class="col-md-7 mt-md-5">
      <div style="color: #145D80; font-size:32px; display: inline">Time management matrix</div><br>
      <div style="font-size: 20px; color:#444444">Start action on what matter most. What to be planed and what to be removed from your day.</div>
    </div>
  </div>
<!--  template 3-->
  <div class="row mt-5">
    <div class="col-md-5 order-md-2">
      <img alt="" src="../../../assets/icons/home-page/template-idea-3.svg">
    </div>
    <div class="col-md-7 order-md-1 mt-md-5">
      <div style="color: #145D80; font-size:32px; display: inline">Product market strategy</div><br>
      <div style="font-size: 20px; color:#444444">Put the right strategy for your product and see the number grows</div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <!--CTA section  -->
  <div class="row" style="background:linear-gradient(276.91deg, #145D80 25.65%, #55EBBE 131.27%)">
    <div class="col text-center p-5">
      <span style="
        font-weight: bold;
        font-size: 28px;
        color:white">
        Create your powerful analysis now</span><br>
      <button mat-button mat-raised-button style="
        width:200px;
        background: white;
        border-radius: 30px;
        color:#145D80;;
        height: 45px;
        margin-top: 15px;
        font-size:20px;
      ">Get Started
      </button>

    </div>
  </div>
</div>

<!--<app-customize-idea-section [backgroundGray]="true"></app-customize-idea-section>-->
<!--<app-testimonials-section></app-testimonials-section>-->

<!--<app-cta-section></app-cta-section>-->



<app-footer-section></app-footer-section>




