/* You can add global styles to this file, and also import other style files */

body { margin: 0; }

/*@font-face {*/
/*  font-family: Montserrat;*/
/*  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf");*/
/*}*/

*{
  font-family: Montserrat, sans-serif;
}

.theme-color{
  color:#145D80 !important;
}

.theme-black{
  color:#444444 !important;
}

.theme-gray{
  color: gray !important;
}

mat-toolbar{
  height:56px !important;
}

.clickable{
  cursor:pointer;
}

.mat-list-item-content{
  padding: 0 0 0 8px !important;
}

.close-icon{
  position:absolute;
  font-size:16px
}

.mat-snack-bar-container {
  min-width: 300px !important;
}

.term-checkbox .mat-checkbox-label{
    white-space: pre-line;
}

.user-panel{
  max-width: 300px;
  width:300px !important;
}

.font-16px{
  font-size:16px;
}
