
<mat-progress-bar color="accent" *ngIf="isLoading$ | async" mode="indeterminate"></mat-progress-bar>
<nav class="navbar navbar-expand-lg navbar-brand-theme col">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <!--<span class="navbar-toggler-icon"></span>-->
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand ml-2 ml-md-0" href="" [routerLink]="['/']">Swotbook</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active mr-4">
        <a class="nav-link theme-black" href="" [routerLink]="['/pricing']">Pricing<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-4" *ngIf="!(currentUser$ | async).uid">
      <a class="nav-link clickable" (click)="openDialog('Login')">Login</a>
      </li>
      <li *ngIf="!(currentUser$ | async).uid">
        <button mat-button class="outline-btn clickable" (click)="openDialog('Sign up')">Sign up</button>
      </li>

<!--      <li *ngIf="(currentUser$ | async).uid">-->
<!--        <button mat-button class="clickable" [matMenuTriggerFor]="menu">-->
<!--          <img *ngIf="(currentUser$ | async).photoURL as photoURL" mat-card-avatar style="display: inline" [src]="photoURL">-->
<!--          {{(currentUser$|async).displayName}}-->
<!--        </button>-->
<!--      </li>-->

    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <button mat-button mat-raised-button color="accent" *ngIf="(currentUser$ | async).uid" [routerLink]="'/swot'">To-->
<!--      Canvas-->
<!--      </button>-->
<!--      <button mat-button class="outline-btn" *ngIf="(currentUser$ | async).uid" (click)="logOut()">Mary Jane-->
<!--      </button>-->

<!--    </form>-->


<!--    <div class="btn-spacer" *ngIf="(currentUser$ | async).uid">-->

<!--    </div>-->

    <button mat-button disabled class="clickable px-0 d-none d-lg-block" style="visibility: hidden" [matMenuTriggerFor]="menu" *ngIf="(currentUser$ | async).uid">
      <img *ngIf="(currentUser$ | async).photoURL as photoURL" mat-card-avatar class="profile-thumb" style="display: inline" [src]="photoURL">
      <span class="ml-2 d-none d-md-inline">{{(currentUser$|async).displayName}}</span>
    </button>

  </div>

  <button mat-button class="clickable px-0" style="position: absolute; top:8px; right:16px" [matMenuTriggerFor]="menu" *ngIf="(currentUser$ | async).uid">
    <img *ngIf="(currentUser$ | async).photoURL as photoURL" mat-card-avatar style="display: inline" class="profile-thumb" [src]="photoURL">
    <span class="ml-2 d-none d-md-inline">{{(currentUser$|async).displayName}}</span>
  </button>

</nav>



<mat-menu #menu="matMenu" xPosition="before" class="container user-panel">

  <div class="row">
    <div class="col">
      <span style="font-size: 16px; font-weight: bold">Recent</span>
        <ul class="recent-project-list">
          <li><a href="/">dummy/project_A</a></li>
          <li><a href="/">dummy/project_B</a></li>
          <li><a href="/">dummy/project_C</a></li>
        </ul>
    </div>
  </div>
  <hr class="mt-2">
  <div class="row">
    <div class="col text-center">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM13.22 15.39L10 13.45L6.78 15.39C6.4 15.62 5.93 15.28 6.03 14.85L6.88 11.19L4.05 8.74C3.72 8.45 3.9 7.9 4.34 7.86L8.08 7.54L9.54 4.09C9.71 3.68 10.29 3.68 10.46 4.09L11.92 7.53L15.66 7.85C16.1 7.89 16.28 8.44 15.94 8.73L13.11 11.18L13.96 14.85C14.06 15.28 13.6 15.62 13.22 15.39Z" fill="#55EBBE"/>
      </svg>
      <span class="clickable" style="margin-left: 5px" [routerLink]="['/pricing']">Upgrade</span>

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-center">
      <button mat-button class="outline-btn" style="width:120px; margin:auto" (click)="logOut()">Log out</button>
    </div>
  </div>
</mat-menu>
