@import "../home";

//.brand-bg-color{
//  background-color: #3F51B5;
//  color:white;
//}
//
//.navbar-toggler{
//  border-color:white;
//}
//
//.navbar-toggler-icon{
//  color:white !important;
//}
//

.navbar{
  justify-content: left;
}

.btn-spacer{
  width: 200px;
}

.navbar-brand-theme {

  //background-color: #3F51B5 ;
  background-color: white;

  .navbar-brand {
    //color: $navbar-light-active-color;
    color: #145D80;

    //@include hover-focus {
    //  color: white;
    //  //color: $navbar-light-active-color;
    //}
  }

  .navbar-nav {
    .nav-link {
      color: #145D80;

      .black{
        color: #444444;
      }

      //@include hover-focus {
      //  //color: $navbar-light-hover-color;
      //}

      &.disabled {
        //color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: #145D80;
    }
  }

  .navbar-toggler {
    color: #145D80;
    border-color: #145D80;
  }

  .navbar-toggler-icon {
    //background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    //color: $navbar-light-color;
    a {
      //color: $navbar-light-active-color;

      //@include hover-focus {
      //  //color: $navbar-light-active-color;
      //}
    }
  }
}

mat-progress-bar{
  position: absolute;
  top:56px;
}

.outline-btn{

  background: #FFFFFF;
  border: 1px solid #444444;
  box-sizing: border-box;
  border-radius: 6px;
}

.recent-project-list{
  list-style: none;
  padding: 0 0 0 20px;
  li > a {
    color: #3f51b5;
    font-size:16px;
    cursor: pointer;
  }
  li > a:hover{
    text-decoration: underline;
  }

}

.profile-thumb{
  height:36px;
  width:36px;
  border-radius:18px;
}

