<mat-toolbar style="background-color: #145D81; color:white">
  <mat-icon class="clickable" (click)="hideLeftDrawer = !hideLeftDrawer">menu</mat-icon>
  <span class="ml-2" class="clickable" [routerLink]="'/'">Swotbook</span>
  <span class="spacer"></span>
  <mat-icon class="rotate-90 clickable" (click)="hideRightDrawer = !hideRightDrawer">linear_scale
  </mat-icon>
</mat-toolbar>
<div style="width:100%; height:5px">
  <mat-progress-bar color="accent" *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
</div>
<div class="container">

  <!--  <mat-card id="leftDrawer" [hidden]="hideLeftDrawer" class="side-drawer"-->
  <mat-card id="leftDrawer" class="side-drawer" [@leftSideDrawerState]="getLeftDrawerState()"
            style="position:absolute; left:0px; top:56px; height:500px; z-index: 1">
    <mat-icon class="close-icon clickable" style="right: 5px; top: 8px;" (click)="hideLeftDrawer = true">close
    </mat-icon>

    <mat-card-header class="px-2">
      <img *ngIf="(currentUser$ | async).photoURL as photoURL" mat-card-avatar style="display: inline" [src]="photoURL"><br>
      <small class="clickable" mat-card-subtitle (click)="logOut()">Log out</small>

    </mat-card-header>
    <div class="row mt-1 px-2">
      <div class="col-12 text-center">
        <h6>{{(currentUser$ | async).displayName}}</h6>
        <h6 *ngIf='displayUserSubType()' style="cursor: pointer">{{displayUserSubType()}}</h6>
        <button mat-button mat-raised-button color="accent" *ngIf="!displayUserSubType()" [routerLink]="['/pricing']">
          upgrade
        </button>
        <small>{{(currentUser$ | async).email}}</small>

      </div>
    </div>

    <hr class="mt-1">

    <div class="row" style="height: 75%; overflow-y: scroll">

      <div class="col-12">
        <mat-list class="projects-container">
          <div class="row px-2">
            <p class="col" mat-subheader> Your Projects</p>
            <div>
              <mat-icon class="mr-3 mt-1" style="cursor:pointer" (click)="addProject()">add</mat-icon>
            </div>
          </div>


          <mat-list-item tabindex="2" class="project-list"
                         *ngFor="let project of allProject$ | async ; let i = index"
                         [hidden]="i >= projectDisplayLimit"
                         [id]="project.id" [class.selected-timeline]="isActiveTimeline(project.id)">

            <h4 mat-line class="clickable" (click)="selectProject(project); hideLeftDrawer=false">
              {{project.title}}</h4>
            <p mat-line class="date-info"> {{project.createdAt | timeStampToDate:'short'}} </p>
            <mat-icon class="clickable" style="color:dimgrey" [matMenuTriggerFor]="menu">more_vert</mat-icon>

            <mat-menu #menu="matMenu" xPosition="after" yPosition="below">
              <button mat-menu-item class="project-action-button" (click)="deleteTimeline(project)">
                delete
                <!--<mat-icon>delete</mat-icon>-->
              </button>
            </mat-menu>
            <div mat-line *ngIf="userSubType === 'std'">
              <div class="color-bar" [style.background]="'#f5f5f5'"></div>
              <div class="color-bar" [style.background]="'#f5f5f5'"></div>
              <div class="color-bar" [style.background]="'#f5f5f5'"></div>
              <div class="color-bar" [style.background]="'#f5f5f5'"></div>
            </div>
            <div mat-line *ngIf="userSubType !== 'std'">
              <div class="color-bar" [style.background]="project.row1col1Color"></div>
              <div class="color-bar" [style.background]="project.row1col2Color"></div>
              <div class="color-bar" [style.background]="project.row2col1Color"></div>
              <div class="color-bar" [style.background]="project.row2col2Color"></div>
            </div>

          </mat-list-item>

        </mat-list>

      </div>

    </div>

  </mat-card>
  <!--  <mat-card id="rightDrawer" [hidden]="hideRightDrawer || !activeProject.id" class="side-drawer"-->
  <mat-card id="rightDrawer" class="side-drawer" [@rightSideDrawerState]="getRightSideDrawerState()"
            style="position:absolute; right:0px; top:56px; height:500px; z-index: 1; overflow-y: scroll">

    <mat-card-header style="height:60px">
      <mat-card-title>
        <h6>Project Timeline</h6>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-checkbox [(ngModel)]="!activeProject.defaultHideTimeline" (change)="toggleDefaultOpen()">open as default
        </mat-checkbox>
      </mat-card-subtitle>
      <mat-icon class="close-icon clickable" style="right: 5px; top: 8px;" (click)="hideRightDrawer = true">close
      </mat-icon>

    </mat-card-header>
    <div class="row d-flex justify-content-center">
      <mat-icon style="cursor:pointer" (click)="addCanvas()">add</mat-icon>
    </div>

    <mat-list class="cbp_tmtimeline">
      <mat-list-item class="pr-2"
                     *ngFor="let canvas of allCanvas$ | async; let i = index"
                     [hidden]="i >= canvasDisplayLimit"
                     [class.active-canvas]="isActiveCanvas(canvas.id)">
        <!--<mat-icon matListIcon class="clickable" (click)="selectCanvas(canvas)" >{{isActiveCanvasIcon(canvas.id)}}</mat-icon>-->
        <img mat-list-icon class="timeline-icon clickable" [src]="isActiveCanvasIcon(canvas.id)"
             (click)="selectCanvas(canvas)">
        <p mat-line class="clickable" (click)="selectCanvas(canvas)">{{canvas.title}}</p>
        <small mat-line class="date-info">{{canvas.createdAt | timeStampToDate:"short"}}</small>
        <mat-icon class="clickable" style="font-size:18px;color:dimgrey" (click)="deleteCanvas(canvas)">delete
        </mat-icon>
      </mat-list-item>
    </mat-list>

    <!--<div class="content">-->
    <!--<mat-vertical-stepper>-->

    <!--<ng-template matStepperIcon="edit">-->
    <!--<mat-icon></mat-icon>-->
    <!--</ng-template>-->

    <!--<ng-template matStepperIcon="done">-->
    <!--<mat-icon></mat-icon>-->
    <!--</ng-template>-->

    <!--&lt;!&ndash; Custom icon with a context variable. &ndash;&gt;-->
    <!--<ng-template matStepperIcon="number" let-index="index">-->
    <!--</ng-template>-->


    <!--<mat-step *ngFor="let canvas of allCanvas$ | async" completed="true"-->
    <!--label="{{canvas.createdAt | timeStampToDate:'short'}}" [class.active-canvas]="isActiveCanvas(canvas.id)">-->
    <!--<button mat-button mat-raised-button (click)="selectCanvas(canvas)">select</button>-->
    <!--<button mat-button mat-raised-button (click)="deleteCanvas(canvas)">delete</button>-->

    <!--</mat-step>-->
    <!--</mat-vertical-stepper>-->
    <!--</div>-->

  </mat-card>

  <div id="main-container" class="row px-2">
    <!--<small>{{activeProject$| async | json}}</small>-->
    <div class="col-12 text-center px-0" *ngIf="(activeProject$ | async).id === '' && !(loading$ | async)">
      <button class="mt-5" color="accent" mat-button mat-raised-button (click)="addProject()">Create project</button>
    </div>

    <div class="col-12 px-0" [hidden]="!((activeProject$ | async).id !== '')">
      <div class="row mx-0 ">
        <div class="col px-0" style="font-size: 14px">
          <img alt="" src="assets/icons/canvas-page/project-icon.svg"> {{(activeProject$|async).title}} / <span
          style="font-weight: bold">{{(activeCanvas$|async).title}}</span><br>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col" style="font-size: 12px; color: #979797">
          <span style="vertical-align: sub">{{activeCanvas.updatedAt | timeStampToDate: "short"}}</span>
        </div>
        <div class="col-auto">
          <span (click)="openProjectSetting()" class="clickable" style="color: #4285F4;font-size:12px">settings</span>
          <!--                <button mat-icon-button (click)="openProjectSetting()">-->
          <!--                  <mat-icon style="color:grey">settings</mat-icon>-->
          <!--                </button>-->
        </div>
      </div>
      <div class="row mt-2">
        <div class="col" style="font-size:14px; color: #444444;">
          {{activeProject.description}}
        </div>
      </div>

      <hr class="mt-0">
      <div class="row mx-0" *ngIf="activeCanvas$ | async as canvas">


        <div class="col"></div>

        <div class="col-3 px-0 d-flex justify-content-end">

          <div class="mr-1" style="font-size:14px; color: #C4C4C4" [class.active-view]="isZoomOut">Overview</div>
          <mat-slide-toggle color="primary" [checked]="!isZoomOut" (change)="isZoomOut=!isZoomOut"></mat-slide-toggle>
          <div class="ml-1" style="font-size:14px; color: #C4C4C4" [class.active-view]="!isZoomOut"> Focus</div>

        </div>
      </div>
      <div [class.wrapper-zoom-out]="isZoomOut">
        <!--        <div class="snap-container" [class.container-zoom-out]="isZoomOut">-->
        <div class="snap-container" [@canvasZoomState]="getCanvasZoomState()">
          <div class="row mx-0 snap-width">

            <div class="col-6 mt-2 px-1 snap-section">
              <div class="row" *ngIf="activeProject.isShowLabel">
                <div class="col-12 text-center swot-label">{{activeProject.col1Name}}</div>
              </div>
              <div class="row mx-0">
                <div *ngIf="activeProject.isShowLabel" class="swot-label"
                     style="writing-mode: vertical-rl;text-align: -webkit-center;transform: rotate(180deg);">
                  {{(activeProject$ | async).row1Name}}
                </div>
                <div class="col px-0">
                  <div class="row mx-0" style="height:40px; background-color: #F2F2F2; border-bottom: 1px solid #979797">
                  <div class="col">
                    {{(activeProject$ | async).row1col1Name}}
                    <!--<mat-icon class="info-icon"  matTooltip="Strength: This is you strength" matTooltipPosition="right">info</mat-icon>-->
                  </div>
                    <mat-icon style="cursor:pointer" (click)="addCard('S')">add</mat-icon>

                  </div>
                  <div id="S" class="card-container"
                       [style.background]="getBackgroundColor('row1col1Color') || '#f5f5f5'">
                    <app-swot-card *ngFor="let card of cardListS$ | async" [id]="card.id" [card]="card"
                                   [project]="activeProject$|async"></app-swot-card>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-6 mt-2 px-1 snap-section">
              <div class="row" *ngIf="activeProject.isShowLabel">
                <div class="col-12 text-center swot-label">{{activeProject.col2Name}}</div>
              </div>
              <div class="row mx-0">

                <div class="col px-0">
                  <div class="row mx-0">
            <span class="col px-0">
              {{(activeProject$ | async).row1col2Name}}
              <!--<mat-icon class="info-icon"  matTooltip="Strength: This is you strength" matTooltipPosition="right">info</mat-icon>-->
            </span>
                    <mat-icon style="cursor:pointer" (click)="addCard('W')">add</mat-icon>

                  </div>

                  <div id="W" class="card-container mt-2"
                       [style.background]="getBackgroundColor('row1col2Color') || '#f5f5f5'">
                    <app-swot-card *ngFor="let card of cardListW$ | async" [id]="card.id" [card]="card"
                                   [project]="activeProject$ | async"></app-swot-card>

                  </div>
                </div>

                <div *ngIf="activeProject.isShowLabel" class="swot-label"
                     style="writing-mode: vertical-rl;text-align: -webkit-center;">
                  {{(activeProject$ | async).row1Name}}
                </div>
              </div>


            </div>
            <div class="col-6 mt-2 px-1 snap-section">
              <div class="row mx-0">
                <div *ngIf="activeProject.isShowLabel" class="swot-label"
                     style="writing-mode: vertical-rl;text-align: -webkit-center;transform: rotate(180deg);">
                  {{(activeProject$ | async).row2Name}}
                </div>
                <div class="col px-0">
                  <div class="row mx-0 mb-2">
                <span class="col px-0">
                  {{(activeProject$ | async).row2col1Name}}
                  <!--<mat-icon class="info-icon"  matTooltip="Strength: This is you strength" matTooltipPosition="right">info</mat-icon>-->
                </span>
                    <mat-icon style="cursor:pointer" (click)="addCard('O')">add</mat-icon>

                  </div>
                  <div id="O" class="card-container mt-2"
                       [style.background]="getBackgroundColor('row2col1Color') || '#f5f5f5'">

                    <app-swot-card *ngFor="let card of cardListO$ | async" [id]="card.id" [card]="card"
                                   [project]="activeProject$ | async"></app-swot-card>

                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="activeProject.isShowLabel"
                     class="col-12 text-center swot-label">{{activeProject.col1Name}}</div>
              </div>
            </div>
            <div class="col-6 mt-2 px-1 snap-section">

              <div class="row mx-0">

                <div class="col px-0">
                  <div class="row mx-0">
              <span class="col px-0">
                {{(activeProject$ | async).row2col2Name}}
                <!--<mat-icon class="info-icon"  matTooltip="Strength: This is you strength" matTooltipPosition="right">info</mat-icon>-->

              </span>
                    <mat-icon style="cursor:pointer" (click)="addCard('T')">add</mat-icon>

                  </div>
                  <div id="T" class="card-container mt-2"
                       [style.background]="getBackgroundColor('row2col2Color') || '#f5f5f5'">
                    <app-swot-card *ngFor="let card of cardListT$ | async" [id]="card.id" [card]="card"
                                   [project]="activeProject$ | async"></app-swot-card>

                  </div>
                </div>
                <div *ngIf="activeProject.isShowLabel" class="swot-label"
                     style="writing-mode: vertical-rl;text-align: -webkit-center;">
                  {{(activeProject$ | async).row2Name}}
                </div>

              </div>
              <div class="row" *ngIf="activeProject.isShowLabel">
                <div class="col-12 text-center swot-label">{{activeProject.col2Name}}</div>
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="row mx-0">
        <div class="col-12">
          <div class="row" style="padding:0 4px">
                      <textarea class="px-2" id="canvas-analysis" class="mt-4 analysis-input"
                                placeholder="Note for this analysis..."
                                [value]="activeCanvas.analysis" (change)="modifyCanvas(activeCanvas)"></textarea>
          </div>

        </div>

      </div>
      <div class="row mb-4">
        <div class="col-12 text-right">
          <small style="font-style: italic" class="text-muted float-right">App v. {{currentVersion}}</small>
        </div>
      </div>
      <!--      <div class="row my-4 mx-0">-->
      <!--        <div class="col-12 text-center px-0">-->
      <!--          <a mat-button mat-raised-button color="accent" href="mailto:khanin@swotbook.com">Leave feedback</a><br>-->
      <!--          <small style="color:hotpink">Feature requests & bugs are most yummy :)</small>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>

