.canvas-section{

}

.card-container{
  /*border: 1px solid black;*/
  background-color:whitesmoke;
  border-radius: 4px;
  padding:8px;
  /*min-height:200px;*/
  /*z-index: 1;*/

  height:350px;
  overflow-y: auto;
  outline:none;
}

.spacer {
  flex: 1 1 auto;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.abs-parent{
  position: relative;
}

.side-drawer{
  max-width:200px;
  /*max-width: 75vw;*/
  /*z-index: -1;*/
  height:90vh !important;
  padding-left:0px;
  padding-right:0px;

}

.side-drawer .content{
  height:100%;
  overflow-y: scroll;
}

.selected-timeline{
  background-color:lightgrey;

}

.selected-timeline h4{
  font-weight:bold;
}

.header-input{
  border:none;
  /*overflow: auto;*/
  outline: none;

  /*-webkit-box-shadow: none;*/
  /*-moz-box-shadow: none;*/
  /*box-shadow: none;*/
}

.can-input:focus{
  background-color: lightsteelblue;
}

.can-input:hover{
  background-color: lightsteelblue;
}

.description-input{
  border:none;
  outline:none;
  width:100%;
  max-height:100px;
  resize:none;
  /*height:auto;*/
}

.active-canvas{
  background-color:lightgrey !important;
}

.active-canvas p{
  font-weight: bold;
}

.cbp_tmtimeline {
  /*margin: 30px 0 0 0;*/
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 25px;
  bottom: 30px;
  width: 8px;
  background: darkgrey;
  left: 30px;
  margin-left: -10px;
}


.timeline-icon{
  width:24px;
  height:24px;
}

.analysis-input{

  border-radius:4px;
  border: 1px solid lightsteelblue;
  width:100%;
  min-height:150px;
  max-height:300px;

}

.snap-container{
  width: 100%;
  scroll-snap-type: x mandatory ;
  overflow: auto;
  /*allow scroll snapping on ios device*/
  -webkit-overflow-scrolling:touch;
}

.snap-section{
  scroll-snap-align: start;
}

.snap-width{
  width:190vw;
}

@media only screen and (min-width: 992px) {
  .snap-width{
    width:100%
  }
}

.project-list{
  outline:none;
}

.projects-container{
  outline:none;
}

.project-action-button{
  outline:none;
}

.info-icon{
  font-size:18px;
  vertical-align: text-top;
}

.swot-label{
  font-size:0.8rem;
  font-style:italic;
  color:lightslategray;

}

.date-info{
  color:dimgrey;
}

.wrapper-zoom-out{
  height:410px;
}

.container-zoom-out{
  transform-origin: top left;
  -ms-transform: scale(0.5); /* IE 9 */
  -webkit-transform: scale(0.5); /* Safari */
  transform: scale(0.5);
  width:190vw;

}

.color-bar{
  height: 5px;
  width: 38px;
  margin: 0 2px 0 2px;
  display: inline-block;
  border-radius: 2px;
}

.active-view{
  color:#4285F4 !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar{
  background: #4285F4 !important;
}

