<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="40" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>Our passion is to create simple tools which timeless yet powerful. And provide easier access to these powerful tools daily.</p>
          <img style="width:200px" src="../../../assets/images/made-with.svg"><br>
          <!--<a mat-raised-button color="accent" href="mailto:support@swotbook.com">Contact Us</a>-->
        </div>
        <div fxFlex="30" class="footer-box">
          <h4 class="footer-box-title"><b>Links</b></h4>
          <mat-list-item>
            <!--                <mat-icon mat-list-icon color="accent">location_on</mat-icon>-->
            <!--                <h5 matLine><b>Adress</b></h5>-->
            <!--                <p matLine>Bangkok, Thailand</p>-->
            <!--<p matLine>Topoban, Akhalia </p>-->
            <!--<p matLine>Sylhet 3114, BD </p>-->
            <p matLine class="clickable" [routerLink]="['/terms/privacy-policy']">Privacy Policy</p>
            <p matLine class="clickable" [routerLink]="['/terms/terms-and-conditions']">Terms and Conditions</p>
            <p matLine class="clickable" [routerLink]="['/terms/data-protection']">Data Protection</p>
          </mat-list-item>
        </div>
        <div fxFlex="30" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon style="color:#55EBBE">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> support@swotbook.com </p>

            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon style="color:#55EBBE">location_on</mat-icon>
                <h5 matLine><b>Adress</b></h5>
                <p matLine>353/13 Thararom village</p>
                <p matLine>Ramkamhaeng 43/1 Rd. </p>
                <p matLine>Bangkok, Thailand 10310</p>

              </mat-list-item>
            <mat-list-item>
              <mat-icon mat-list-icon style="color:#55EBBE">phone</mat-icon>
              <h5 matLine><b>Phone</b></h5>
              <p matLine> (+66)897751919 </p>

            </mat-list-item>
          </mat-list>
        </div>
        <!--<div fxFlex="25" class="footer-box">-->
          <!--<h4 class="footer-box-title"><b>Disclaimer</b></h4>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis perferendis rem, aut aliquam neque nam?</p>-->
          <!--<div class="socials pt-1">-->
            <!--<ul>-->
              <!--<li><a href="" class="social-icon linkedin"></a></li>-->
              <!--<li><a href="" class="social-icon twitter"></a></li>-->
              <!--<li><a href="" class="social-icon facebook-button"></a></li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </section>
</footer>
