<app-header-section></app-header-section>

<div class="container d-flex align-items-center flex-column">
  <h2 class="mt-4">We are sorry.</h2>
  <p>We are bringing this feature to life. Thank you for your patient and kind support.</p>
  <img class="my-3" src="../../../assets/icons/swotbook-logo-with-heart.svg">
<!--  <button mat-button mat-raised-button color="accent" class="mt-4" [routerLink]="['/swot']">To Canvas</button>-->
  <a mat-button mat-raised-button color="primary" class="mt-4 mb-4" href="mailTo:support@swotbook.com">Leave feedback</a>

</div>

<app-footer-section></app-footer-section>
