<div class="home-section home-cta">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <h2 class="mb-4">Create your powerful analysis now!</h2>
        <!--<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nam, illum et quis officiis beatae.</p>-->
      </div>
      <div class="col-md-4 col-12 d-flex align-items-center flex-column">
        <!--<button mat-raised-button mat-lg-button color="accent" (click)="buyEgret()">BUY EGRET NOW</button>-->

        <app-google-button></app-google-button>
        <div style="width:100%;height:10px"></div>
        <app-facebook-button></app-facebook-button>

      </div>
    </div>
  </div>
</div>
