.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
.h1,
h1 {
  font-size: 2rem;
}
.h2,
h2 {
  font-size: 1.75rem;
}
.h3,
h3 {
  font-size: 1.5rem;
}
.h4,
h4 {
  font-size: 1.25rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: .875rem;
}


.home-intro-section {
  //background: url('/../../assets/images/home-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0 0;
  color: #ffffff;
  overflow: visible;
}
.home-intro-title {
  margin: 0 0 24px;
  font-size: 48px;
  font-weight: 900;
  line-height: 54px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
}
.home-intro-subtitle {
  margin: 0 0 22px;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
}
.home-intro-text {
  max-width: 570px;
  margin: 0 auto 24px;
}
.intro-cta {
  width: 280px;
  height: 48px;
  margin:  0 auto;
  text-align:left;
  font-size:18px;
  font-weight:normal;
  color: dimgrey;
}
.intro-product {
  position: relative;
  top: auto;
  left: auto;
  bottom: -102px; // Adjust this for your product image
}



.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 6px 8px 8px 0;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}



.home-section {
  padding: 80px 0;
}
.home-section mat-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

[mat-card-icon] {
  font-size: 64px !important;
  height: 64px !important;
  width: 64px !important;
  transition: all .3s ease;
}
.home-fancy-card {
  border-top: 2px solid #212121;
  transition: all .3s ease;
}

.home-fancy-card:hover {
  border-top: 2px solid #3f51b5;
}
.home-fancy-card:hover [mat-card-icon] {
  color: #3f51b5;
}
.home-fancy-card .description {
  font-size: 15px;
  color: #616161;
}

html {
  font-size: 16px;
}
html, body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: .875rem;
  color: rgba(0,0,0,.87);
  line-height: 1.5;
  font-family: "Roboto",Helvetica Neue,sans-serif;
}
div {
  box-sizing: border-box;
}

/*---- Common -----*/
//.container {
//  max-width: 1170px;
//  margin: 0 auto;
//  padding: 0 15px;
//}
.bg-none {
  background: transparent !important;
}
.bg-white {
  background: #ffffff !important;
}
.m-0 {
  margin: 0 !important;
}
.m-1 {
  margin: 1rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-1 {
  margin-right: 1rem !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-1 {
  margin-left: 1rem !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mb-05 {
  margin-bottom: .5rem !important;
}
.margin-333 {
  margin: .333333rem !important;
}
.pt-1 {
  padding-top: 1rem !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-1 {
  padding-right: 1rem !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-1 {
  padding-bottom: 1rem !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-1 {
  padding-left: 1rem !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-05 {
  padding: .5rem !important;
}

.height-100 {
  min-height: 100vh;
}
.fix {
  position: relative;
  overflow: hidden;
}
.mat-box-shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.light-gray {
  background: rgba(0, 0, 0, .024);
}
.light-mat-gray {
  background: rgba(0, 0, 0, .08);
}
.mat-blue {
  background: #247ba0;
  color: #FEFEFE;
}
.mat-red {
  background-color: #f44336!important;
  color: #fff!important;
}
.mat-indigo {
  background-color: #3f51b5 !important;
  color: #fff!important;
}
.mat-brown {
  background-color: #785548 !important;
  color: #FEFEFE;
}
.mat-teal {
  background-color: #009688!important;
  color: #fff!important;
}
.mat-purple {
  background-color: #9c27b0!important;
  color: hsla(0,0%,100%,.87)!important;
}

.fz-1 {
  font-size: 1rem !important;
}
.fz-2 {
  font-size: 2rem !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-light {
  font-weight: 300;
}
.font-normal {
  font-weight: normal !important;
}
.text-muted {
  color: rgba(0, 0, 0, .54) !important;
}
.text-muted-white {
  color: rgba(255, 255, 255, .54) !important;
}
.text-gray {
  color: rgba(0, 0, 0, .7) !important;
}
.text-sm {
  font-size: .813rem;
}
.list-item-active {
  border-left: 3px solid;
}
.material-icons.icon-sm {
  font-size: 18px !important;
  line-height: 18px !important;
  height: 18px;
  width: 18px;
}
.material-icons.icon-xs {
  font-size: 13px !important;
  line-height: 13px;
  height: 13px;
  width: 13px;
}

.mat-card {
  margin: .333333rem;
  overflow: hidden;
}

.mat-card-title {
  font-size: 1rem !important;
}

.mat-card.default {
  padding: 0;
}
.mat-card.default .mat-card-title {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
  font-weight: 400;
}
.mat-card.default>:first-child {
  border-radius: 2px 2px 0 0;
}
.mat-card.default .mat-card-subtitle:first-child {
  padding-top: 1rem;
}
.mat-card.default .mat-card-subtitle {
  padding-left: 1rem;
  padding-right: 1rem;
  line-height: 1;
}
.mat-card.default .mat-card-content {
  padding: 1rem;
  margin-bottom: 0;
  position: relative;
}
.mat-card.default .mat-card-actions,
.mat-card.default .mat-card-actions:last-child {
  padding: .5rem;
  margin: 0;
}
.mat-card.default>:last-child {
  border-radius: 0 0 2px 2px;
}

.mat-card {
  margin: .333333rem;
  overflow: hidden;
}
.mat-card .mat-card-title .mat-divider, .mat-divider.full-width {
  margin-left: -24px;
  margin-right: -24px;
}

.mat-card.p-0 .mat-card-title .card-title-text {
  padding: 1rem 1.5rem;
}
.mat-card.p-0 .mat-card-title .card-title-text .card-control {
  height: 24px;
  width: 24px;
  line-height: 24px;
}
.mat-card.p-0 .mat-card-title .card-title-text .mat-card-subtitle {
  margin: 0;
}
.mat-card.p-0 .mat-card-title .mat-divider {
  margin-left: 0;
  margin-right: 0;
  border-top-color: rgba(0, 0, 0, 0.04);
}
.mat-card.p-0 .mat-card-image {
  margin: 0 0 1rem !important;
}
.mat-card.p-0 .mat-card-content {
  padding:  0 1.5rem 1.5rem;
}
img {
  max-width: 100%;
}
a, a:focus, a:hover {
  text-decoration: none;
}
a {
  color: inherit;
}
p {
  margin: 0 0 16px;
}
.home-section {
  padding: 80px 0;
}
.home-section mat-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
}

[mat-card-icon] {
  font-size: 64px !important;
  height: 64px !important;
  width: 64px !important;
  transition: all .3s ease;
}
.home-fancy-card {
  border-top: 2px solid #212121;
  transition: all .3s ease;
  //min-height: 330px;
}

.home-fancy-card:hover {
  border-top: 2px solid #3f51b5;
}
.home-fancy-card:hover [mat-card-icon] {
  color: #3f51b5;
}
.home-fancy-card .description {
  font-size: 15px;
  color: #616161;
}

.mat-card-image{
  width: calc(100% + 48px);
}

.mat-card.p-0 .mat-card-image {
  margin: 0 0 1rem !important;
}
.mat-card.p-0 .mat-card-content {
  padding:  0 1.5rem 1.5rem;
}

.light-gray {
  background: rgba(0, 0, 0, .024);
}

.toolbar-avatar {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 24px;
}
.toolbar-avatar > img {
  width: 40px !important;
  border-radius: 50%;
}
.toolbar-avatar.md,
.toolbar-avatar.md > img {
  width: 48px !important;
  height: 48px;
}
.toolbar-avatar > .status-dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 25px;
  right: -2px;
  border: 2px solid #ffffff;
  background: #ccc;
}


@media (max-width: 767px) {
  .home-intro-section {
    padding: 40px 0 0;
  }
  .home-intro-title {
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 900;
    line-height: 38px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.22);
  }
  .home-intro-subtitle {
    margin: 0 0 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
  }
  .intro-product {
    bottom: -63px; // Adjust this for your product image
    img {
      width: 480px;
    }
  }
}
@media (max-width: 580px) {
  .intro-product {
    bottom: -39px; // Adjust this for your product image
    img {
      width: 280px;
    }
  }
}

.home-intro-title{
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 88px;

  color: #145D80;
}
