<section id="service-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Why Swotbook?</h2>
      <!--<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat unde inventore molestias ab adipisci eius nisi placeat-->
      <!--at.-->
      <!--</p>-->
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">

      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>format_list_numbered</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Prioritize <br>& Categorize</h3>
            <span fxFlex="20px"></span>
<!--            <p class="m-0 description">Two simple yet important keys of any analysis combined as a powerful analysis tool.-->
            <p class="m-0 description">Clearly see a big picture of what matter in life. And start action on what matter the most.
            </p>
            <span fxFlex="40px"></span>
            <!--<div>-->
            <!--<button mat-button><strong class="text-muted">READ MORE</strong></button>-->
            <!--</div>-->
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>toys</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Make it <br>daily easy</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Because everything is constantly changing. Swotbook make coming back a breeze.</p>
            <span fxFlex="40px"></span>
            <!--<div>-->
            <!--<button mat-button><strong class="text-muted">READ MORE</strong></button>-->
            <!--</div>-->
          </div>
        </mat-card>
      </div>
      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>timeline</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Knows what have done and changed</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Keep track of your analysis anytime in one place,as timeline, and never lost it again.</p>
            <span fxFlex="40px"></span>
            <!--<div>-->
            <!--<button mat-button><strong class="text-muted">READ MORE</strong></button>-->
            <!--</div>-->
          </div>
        </mat-card>
      </div>
<!--      <div fxFlex="25">-->
<!--        <mat-card class="home-fancy-card">-->
<!--          <div fxLayout="column">-->
<!--            <div class="text-center">-->
<!--              <mat-icon mat-card-icon>perm_data_setting</mat-icon>-->
<!--            </div>-->
<!--            <span fxFlex="20px"></span>-->
<!--            <h3 class="m-0 font-light">Customize <br>& Personalize</h3>-->
<!--            <span fxFlex="20px"></span>-->
<!--            <p class="m-0 description">Design your own analysis to suit your needs. Or get an idea templates in our-->
<!--              blog.</p>-->
<!--            <span fxFlex="40px"></span>-->
<!--            &lt;!&ndash;<div>&ndash;&gt;-->
<!--            &lt;!&ndash;<button mat-button><strong class="text-muted">READ MORE</strong></button>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--          </div>-->
<!--        </mat-card>-->
<!--        -->
<!--      </div>-->

      <div fxFlex="25">
        <mat-card class="home-fancy-card">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>perm_data_setting</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="m-0 font-light">Make a great tool great, not hassle</h3>
            <span fxFlex="20px"></span>
            <p class="m-0 description">Great tool should not be let down by hassle when actually doing it. It should be great.</p>
            <span fxFlex="40px"></span>
            <!--<div>-->
            <!--<button mat-button><strong class="text-muted">READ MORE</strong></button>-->
            <!--</div>-->
          </div>
        </mat-card>

      </div>

    </div>
  </div>
</section>
