<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center flex-column">
      <span style="font-size:1.5rem" class="theme-color">{{title}}</span>
      <app-google-button class="mt-4"></app-google-button>
      <app-facebook-button class="mt-3"></app-facebook-button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col text-center" style="color:#145D80; font-size: 14px">
      By login/sign up to swotbook.com you have agreed to our <a style="text-decoration-line: underline" class="clickable" [routerLink]="'/terms/terms-and-conditions'">Terms & Conditions</a>
    </div>
  </div>

</div>

<!--<form [formGroup]="projectSettingForm">-->
<!--  <h1 mat-dialog-title>Project setting</h1>-->
<!--  <div mat-dialog-content>-->

<!--    <mat-form-field class="form-row mx-0">-->

<!--      <input matInput type="text" formControlName="title" placeholder="Project title" cdkFocusInitial>-->

<!--    </mat-form-field>-->

<!--    <mat-form-field class="form-row mx-0">-->
<!--      <textarea type="text" matInput formControlName="description" placeholder="Description"></textarea>-->

<!--    </mat-form-field>-->

<!--    <mat-checkbox formControlName="isShowLabel">Show row & column label</mat-checkbox>-->
<!--    <br>-->
<!--    <mat-checkbox formControlName="isTodo">Use as To-dos</mat-checkbox>-->

<!--    &lt;!&ndash;row1&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row1Name" placeholder="First row label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;row2&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row2Name" placeholder="Second row label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;col1&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="col1Name" placeholder="First column label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;col2&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="col2Name" placeholder="Second column label">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row1col1Name"-->
<!--             placeholder="{{projectSettingForm.get('row1Name').value}} + {{projectSettingForm.get('col1Name').value}}, section label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;row1col2Name&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row1col2Name"-->
<!--             placeholder="{{projectSettingForm.get('row1Name').value}} + {{projectSettingForm.get('col2Name').value}}, section label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;row2col1Name&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row2col1Name"-->
<!--             placeholder="{{projectSettingForm.get('row2Name').value}} + {{projectSettingForm.get('col1Name').value}}, section label">-->
<!--    </mat-form-field>-->
<!--    &lt;!&ndash;row2col2Name&ndash;&gt;-->
<!--    <mat-form-field class="form-row mx-0">-->
<!--      <input type="text" matInput formControlName="row2col2Name"-->
<!--             placeholder="{{projectSettingForm.get('row2Name').value}} + {{projectSettingForm.get('col2Name').value}}, section label">-->
<!--    </mat-form-field>-->
<!--    <div *ngIf="isNotStdUser()">-->
<!--      Colors-->
<!--      &lt;!&ndash;<div class="row mx-0">&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="col-6 px-1"><div class="color-input clickable" [(colorPicker)]="arrayColors.color1" [style.background]="arrayColors.color1" [cpPosition]="'top'" [cpOKButton]="true"></div></div>&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="col-6 px-1"><div class="color-input clickable" [(colorPicker)]="arrayColors.color2" [style.background]="arrayColors.color2" [cpPosition]="'top'" [cpOKButton]="true"></div></div>&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="row mx-0 mt-2">&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="col-6 px-1"><div class="color-input clickable" [(colorPicker)]="arrayColors.color3" [style.background]="arrayColors.color3" [cpPosition]="'top'" [cpOKButton]="true"></div></div>&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="col-6 px-1"><div class="color-input clickable" [(colorPicker)]="arrayColors.color4" [style.background]="arrayColors.color4" [cpPosition]="'top'" [cpOKButton]="true"></div></div>&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--      <div class="row mx-0">-->
<!--        <div class="col-6 px-1">-->
<!--          <small>{{projectSettingForm.get('row1col1Name').value}}</small>-->
<!--          <div class="color-input clickable" (click)="selectedColor='color1'" [style.background]="arrayColors.color1" ></div></div>-->
<!--        <div class="col-6 px-1">-->
<!--          <small>{{projectSettingForm.get('row1col2Name').value}}</small>-->
<!--          <div class="color-input clickable" (click)="selectedColor='color2'" [style.background]="arrayColors.color2" ></div></div>-->
<!--      </div>-->
<!--      <div class="row mx-0 mt-2">-->
<!--        <div class="col-6 px-1">-->
<!--          <small>{{projectSettingForm.get('row2col1Name').value}}</small>-->
<!--          <div class="color-input clickable" (click)="selectedColor='color3'" [style.background]="arrayColors.color3" ></div></div>-->
<!--        <div class="col-6 px-1">-->
<!--          <small>{{projectSettingForm.get('row2col2Name').value}}</small>-->
<!--          <div class="color-input clickable" (click)="selectedColor='color4'" [style.background]="arrayColors.color4" ></div></div>-->
<!--      </div>-->

<!--      <div class="row my-2">-->
<!--        <div class="col d-flex justify-content-center">-->
<!--        <span [style.background]="arrayColors[selectedColor]"-->
<!--              [cpToggle]="true" [cpDialogDisplay]="'inline'"-->
<!--              [cpCancelButton]="true"-->
<!--              [cpCancelButtonClass]= "'btn btn-primary btn-xs'"-->
<!--              [(colorPicker)]="arrayColors[selectedColor]"-->
<!--              [cpPresetColors]="['#f5f5f5']"-->
<!--        ></span>-->
<!--        </div>-->

<!--        &lt;!&ndash;<div class="col-6">&ndash;&gt;-->
<!--        &lt;!&ndash;<div class="color-box" [style.background]="arrayColors['color1']" (click)="selectedColor='color1'"></div>&ndash;&gt;-->

<!--        &lt;!&ndash;<div class="color-box" [style.background]="arrayColors['color2']" (click)="selectedColor='color2'"></div>&ndash;&gt;-->

<!--        &lt;!&ndash;<div class="color-box" [style.background]="arrayColors['color3']" (click)="selectedColor='color3'"></div>&ndash;&gt;-->

<!--        &lt;!&ndash;<div class="color-box" [style.background]="arrayColors['color4']" (click)="selectedColor='color4'"></div>&ndash;&gt;-->

<!--        &lt;!&ndash;<div class="color-box" [style.background]="arrayColors['color5']" (click)="selectedColor='color5'"></div>&ndash;&gt;-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->





<!--  </div>-->
<!--  <div mat-dialog-actions>-->
<!--    <div class="col-12">-->
<!--      <div class="row">-->
<!--        <div class="col-6 text-right">-->
<!--          <button class="dialog-button" mat-button mat-raised-button (click)="closeDialog()">Cancel</button>-->

<!--        </div>-->
<!--        <div class="col-6">-->
<!--          <button class="dialog-button" color="accent" mat-button mat-raised-button (click)="modifyProject()">OK</button>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</form>-->

