<!--<mat-card *ngFor="let card of cardListN$ | async" [id]="card.id">-->
<mat-card class="mb-2 swot-card py-2" [class.checked]="card.isChecked && project.isTodo">
  <!--{{card.title}}-->
  <div class="row mx-0">
    <!--{{card.index}}-->
    <mat-checkbox class="mt-2 swot-check-box" type="checkbox" [(ngModel)]="card.isChecked" (change)="modifyCard(card)" *ngIf="project.isTodo"></mat-checkbox>
    <mat-icon class="bullet" *ngIf="!project.isTodo">lens</mat-icon>
    <input [id]="card.id+'title'" class="col title-input can-input ml-1 px-2" matInput type="text" [value]="card.title" (change)="modifyCard(card)" (keydown)="onKeydown($event)" placeholder="Card title">
    <mat-icon style="cursor:pointer;color:grey;margin-top:5px" (click)="deleteCard(card)">close</mat-icon>

  </div>
  <!--<span>[{{card.index}}]</span>-->
  <!--<br>-->
  <!--score:-->
  <!--<br>-->
  <!--weight:-->
  <!--<small>{{card.updatedAt | timeStampToDate:"short"}}</small>-->
  <!--<br>-->
  <!--<div class="row">-->
    <!--<div class="col-6 p-0"><mat-icon>add</mat-icon><input class="col p-0" [id]="card.id+'score'" userSubType="number" [value]="card.score || 0" (change)="modifyCard(card)"></div>-->
    <!--<div class="col-6 p-0"><mat-icon>add</mat-icon><input class="col p-0" [id]="card.id+'weight'" userSubType="number" [value]="card.weight || 1" (change)="modifyCard(card)"></div>-->
  <!--</div>-->
  <!--<small>{{card.canvasId}}</small><br>-->
  <!--<small>{{card.id}}</small>-->
</mat-card>
