.title-input{
  border:none;
  /*overflow: auto;*/
  outline: none;

  /*-webkit-box-shadow: none;*/
  /*-moz-box-shadow: none;*/
  /*box-shadow: none;*/
}

.can-input:focus{
  background-color: lightsteelblue;
}

.can-input:hover{
  background-color: lightsteelblue;
}

.swot-card{
  outline:none
}

.checked{
  opacity: 0.5;
}

.swot-check-box{
  transition-delay: 3s;
  animation-delay: 3s;
}

.bullet{
  color:dimgrey;
  font-size: 16px;
  margin-top: 10px;
  width:16px
}


