<app-header-section></app-header-section>
<div class="container">
  <div class="col-md-8 offset-md-2 text-justify">
    <h3 class="text-center mt-3">Data Protection Policy</h3>


    <h5>1. Introduction</h5>
    This Policy sets the Company’s obligations regarding the collection, processing, transfer, storage, and disposal of personal data. The procedures and principles set out herein must be followed at all times by the Company, its employees, agents, contractors, or other parties working on behalf of the Company.

    <h5>2. Definitions</h5>

    <strong>“consent”</strong>	means the consent of the data subject which must be a freely given, specific, informed, and unambiguous indication of the data subject’s wishes by which they (by a statement or by a clear affirmative action) signify their agreement to the processing of personal data relating to them;<br>
    <strong>“data controller”</strong>	means the person or organisation which, alone or jointly with others, determines the purposes and means of the processing of personal data. For the purposes of this Policy, the Company is the data controller of all personal data relating to staff, customers, business contacts etc. used in our business;<br>
    <strong>“data processor”</strong>	means a person or organisation which processes personal data on behalf of a data controller;<br>
    <strong>“Data Protection Legislation”</strong>	means all applicable data protection and privacy laws including, but not limited to, the GDPR, and any applicable national laws, regulations, and secondary legislation in England and Wales concerning the processing of personal data or the privacy of electronic communications, as amended, replaced, or updated from time to time;<br>
    <strong>“data subject”</strong>	means a living, identified, or identifiable individual about whom the Company holds personal data;<br>
    <strong>“EEA”</strong>	means the European Economic Area, consisting of all EU Member States, Iceland, Liechtenstein, and Norway;<br>
    <strong>“personal data”</strong>	means any information relating to a data subject who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, identification number, location data, an online identifier, or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural, or social identity of that data subject;<br>
    <strong>“personal data breach”</strong>	means a breach of security leading to the accidental or unlawful destruction, loss, alteration, unauthorised disclosure of, or access to, personal data transmitted, stored, or otherwise processed;<br>
    <strong>“processing”</strong>	means any operation or set of operations performed on personal data or sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction;<br>
    <strong>“pseudonymisation”</strong>	means the processing of personal data in such a manner that the personal data can no longer be attributed to a specific data subject without the use of additional information, provided that such additional information is kept separately and is subject to technical and organisational measures to ensure that the personal data is not attributed to an identified or identifiable natural person; and<br>
    <strong>“special category personal data”</strong>	means personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, trade union membership, health, sexual life, sexual orientation, biometric, or genetic data.

    <h5>3. Data Protection Officer & Scope of Policy</h5>
    <ul>
      <li>3.1 The Data Protection Officer is responsible for administering this Policy and for developing and
        implementing any applicable related policies (including those referred to in this Policy), procedures, and/or
        guidelines.
      </li>
      <li>3.2 All managers and department are responsible for ensuring that all employees, agents, contractors, or other
        parties working on behalf of the Company comply with this Policy and, where applicable, must implement such
        practices, processes, controls, and training as are reasonably necessary to ensure such compliance.
      </li>
      <li>3.3 Any questions relating to this Policy, the Company’s collection, processing, or holding of personal data,
        or to the Data Protection Legislation should be referred to the Data Protection Officer.
      </li>
    </ul>

    <h5>4. The Data Protection Principles</h5>
    The Data Protection Legislation sets out the following principles with which any party handling personal data must comply. All personal data must be:
    <ul>
      <li>4.1 processed lawfully, fairly, and in a transparent manner in relation to the data subject;</li>
      <li>4.2 collected for specified, explicit, and legitimate purposes and not further processed in a manner that is
        incompatible with those purposes. Further processing for archiving purposes in the public interest, scientific
        or
        historical research purposes or statistical purposes shall not be considered to be incompatible with the initial
        purposes;
      </li>
      <li>4.3 adequate, relevant, and limited to what is necessary in relation to the purposes for which it is
        processed;
      </li>
      <li>4.4 accurate and, where necessary, kept up to date. Every reasonable step must be taken to ensure that
        personal
        data that is inaccurate, having regard to the purposes for which it is processed, is erased, or rectified
        without
        delay;
      </li>
      <li>4.5 kept in a form which permits identification of data subjects for no longer than is necessary for the
        purposes for which the personal data is processed. Personal data may be stored for longer periods insofar as the
        personal data will be processed solely for archiving purposes in the public interest, scientific or historical
        research purposes, or statistical purposes, subject to implementation of the appropriate technical and
        organisational measures required by the Data Protection Legislation in order to safeguard the rights and
        freedoms
        of the data subject;
      </li>
      <li>4.6 processed in a manner that ensures appropriate security of the personal data, including protection against
        unauthorised or unlawful processing and against accidental loss, destruction, or damage, using appropriate
        technical or organisational measures.
      </li>
    </ul>
    <h5>5. The Rights of Data Subjects</h5>
    The Data Protection Legislation sets out the following key rights applicable to data subjects:
    <ul>
      <li>5.1 The right to be informed;</li>
      <li>5.2 the right of access;</li>
      <li>5.3 the right to rectification;</li>
      <li>5.4 the right to erasure (also known as the ‘right to be forgotten’);</li>
      <li>5.5 the right to restrict processing;</li>
      <li>5.6 the right to data portability;</li>
      <li>5.7 the right to object; and</li>
      <li>5.8 rights with respect to automated decision-making and profiling.</li>
    </ul>

    <h5>6. Lawful, Fair, and Transparent Data Processing</h5>
    <ul>
      <li>6.1 The Data Protection Legislation seeks to ensure that personal data is processed lawfully, fairly, and
        transparently, without adversely affecting the rights of the data subject. Specifically, the GDPR states that
        processing of personal data shall be lawful if at least one of the following applies:
      </li>
      <ul>
        <li>a) the data subject has given consent to the processing of their personal data for one or more specific
          purposes;
        </li>
        <li>b) the processing is necessary for the performance of a contract to which the data subject is a party, or in
          order to take steps at the request of the data subject prior to entering into a contract;
        </li>
        <li>c) the processing is necessary for compliance with a legal obligation to which the data controller is
          subject;
        </li>
        <li>d) the processing is necessary to protect the vital interests of the data subject or of another natural
          person;
        </li>
        <li>e) the processing is necessary for the performance of a task carried out in the public interest or in the
          exercise of official authority vested in the data controller; or
        </li>
        <li>f) the processing is necessary for the purposes of the legitimate interests pursued by the data controller
          or
          by a third party, except where such interests are overridden by the fundamental rights and freedoms of the
          data
          subject which require protection of personal data, in particular where the data subject is a child.
        </li>
      </ul>
      <li>6.2 If the personal data in question is special category personal data (also known as ‘sensitive personal
        data’), at least one of the following conditions must be met:
      </li>
      <ul>
        <li>a) the data subject has given their explicit consent to the processing of such data for one or more
          specified
          purposes (unless EU or EU Member State law prohibits them from doing so);
        </li>
        <li>b) the processing is necessary for the purpose of carrying out the obligations and exercising specific
          rights
          of the data controller or of the data subject in the field of employment, social security, and social
          protection
          law (insofar as it is authorised by EU or EU Member State law or a collective agreement pursuant to EU Member
          State law which provides for appropriate safeguards for the fundamental rights and interests of the data
          subject);
        </li>
        <li>c) the processing is necessary to protect the vital interests of the data subject or of another natural
          person
          where the data subject is physically or legally incapable of giving consent;
        </li>
        <li>d) the data controller is a foundation, association, or other non-profit body with a political,
          philosophical,
          religious, or trade union aim, and the processing is carried out in the course of its legitimate activities,
          provided that the processing relates solely to the members or former members of that body or to persons who
          have
          regular contact with it in connection with its purposes and that the personal data is not disclosed outside
          the
          body without the consent of the data subjects;
        </li>
        <li>e) the processing relates to personal data which is manifestly made public by the data subject;</li>
        <li>f) the processing is necessary for the conduct of legal claims or whenever courts are acting in their
          judicial
          capacity;
        </li>
        <li>g) the processing is necessary for substantial public interest reasons, on the basis of EU or EU Member
          State
          law which shall be proportionate to the aim pursued, shall respect the essence of the right to data
          protection,
          and shall provide for suitable and specific measures to safeguard the fundamental rights and interests of the
          data
          subject;
        </li>
        <li>h) the processing is necessary for the purposes of preventative or occupational medicine, for the assessment
          of
          the working capacity of an employee, for medical diagnosis, for the provision of health or social care or
          treatment, or the management of health or social care systems or services on the basis of EU or EU Member
          State
          law or pursuant to a contract with a health professional, subject to the conditions and safeguards referred to
          in
          Article 9(3) of the GDPR;
        </li>
        <li>i) the processing is necessary for public interest reasons in the area of public health, for example,
          protecting against serious cross-border threats to health or ensuring high standards of quality and safety of
          health care and of medicinal products or medical devices, on the basis of EU or EU Member State law which
          provides
          for suitable and specific measures to safeguard the rights and freedoms of the data subject (in particular,
          professional secrecy); or
        </li>
        <li>j) the processing is necessary for archiving purposes in the public interest, scientific or historical
          research purposes, or statistical purposes in accordance with Article 89(1) of the GDPR based on EU or EU
          Member
          State law which shall be proportionate to the aim pursued, respect the essence of the right to data
          protection,
          and provide for suitable and specific measures to safeguard the fundamental rights and the interests of the
          data
          subject.
        </li>
      </ul>
    </ul>
    <h5>7. Consent</h5>
    If consent is relied upon as the lawful basis for collecting, holding, and/or processing personal data, the following shall apply:
    <ul>
      <li>7.1 Consent is a clear indication by the data subject that they agree to the processing of their personal
        data.
        Such a clear indication may take the form of a statement or a positive action. Silence, pre-ticked boxes, or
        inactivity are unlikely to amount to consent.
      </li>
      <li>7.2 Where consent is given in a document which includes other matters, the section dealing with consent must
        be
        kept clearly separate from such other matters.
      </li>
      <li>7.3 Data subjects are free to withdraw consent at any time and it must be made easy for them to do so. If a
        data subject withdraws consent, their request must be honoured promptly.
      </li>
      <li>7.4 If personal data is to be processed for a different purpose that is incompatible with the purpose or
        purposes for which that personal data was originally collected that was not disclosed to the data subject when
        they first provided their consent, consent to the new purpose or purposes may need to be obtained from the data
        subject.
      </li>
      <li>7.5 If special category personal data is processed, the Company shall normally rely on a lawful basis other
        than explicit consent. If explicit consent is relied upon, the data subject in question must be issued with a
        suitable privacy notice in order to capture their consent.
      </li>
      <li>7.6 In all cases where consent is relied upon as the lawful basis for collecting, holding, and/or processing
        personal data, records must be kept of all consents obtained in order to ensure that the Company can demonstrate
        its compliance with consent requirements.
      </li>
    </ul>

    <h5>8. Specified, Explicit, and Legitimate Purposes</h5>
    <ul>
      <li>8.1 Data subjects must be kept informed at all times of the purpose or purposes for which the Company uses
        their
        personal data. Please refer to Part 15 for more information on keeping data subjects informed.
      </li>
    </ul>

    <h5>9. Adequate, Relevant, and Limited Data Processing</h5>
    <ul>
      <li>9.1 The Company will only collect and process personal data for and to the extent necessary for the specific
        purpose or purposes of which data subjects have been informed (or will be informed) as under Part 8, above.
      </li>
      <li>9.2 Employees, agents, contractors, or other parties working on behalf of the Company may collect personal
        data
        only to the extent required for the performance of their job duties and only in accordance with this Policy.
        Excessive personal data must not be collected.
      </li>
      <li>9.3 Employees, agents, contractors, or other parties working on behalf of the Company may process personal
        data
        only when the performance of their job duties requires it. Personal data held by the Company cannot be processed
        for any unrelated reasons.
      </li>
    </ul>
    <h5>10. Accuracy of Data and Keeping Data Up-to-Date</h5>
    <ul>
      <li>10.1 The Company shall ensure that all personal data collected, processed, and held by it is kept accurate and
        up-to-date. This includes, but is not limited to, the rectification of personal data at the request of a data
        subject, as set out in Part 17, below.
      </li>
      <li>10.2 The accuracy of personal data shall be checked when it is collected and at regular intervals thereafter.
        If any personal data is found to be inaccurate or out-of-date, all reasonable steps will be taken without delay
        to
        amend or erase that data, as appropriate.
      </li>
    </ul>
    <h5>11. Data Retention</h5>
    <ul>
      <li>11.1 The Company shall not keep personal data for any longer than is necessary in light of the purpose or
        purposes for which that personal data was originally collected, held, and processed.
      </li>
      <li>11.2 When personal data is no longer required, all reasonable steps will be taken to erase or otherwise
        dispose
        of it without delay.
      </li>
      <li>11.3 For full details of the Company’s approach to data retention, including retention periods for specific
        personal data types held by the Company, please refer to our Data Retention Policy.
      </li>
    </ul>
    <h5>12. Secure Processing</h5>
    <ul>
      <li>12.1 The Company shall ensure that all personal data collected, held, and processed is kept secure and
        protected against unauthorised or unlawful processing and against accidental loss, destruction, or damage.
        Further
        details of the technical and organisational measures which shall be taken are provided in the Company’s Data
        Security Policy.
      </li>
      <li>12.2 All technical and organisational measures taken to protect personal data shall be regularly reviewed and
        evaluated to ensure their ongoing effectiveness and the continued security of personal data.
      </li>
      <li>12.3 Data security must be maintained at all times by protecting the confidentiality, integrity, and
        availability of all personal data as follows:
      </li>
      <ul>
        <li>a) only those with a genuine need to access and use personal data and who are authorised to do so may access
          and use it;
        </li>
        <li>b) personal data must be accurate and suitable for the purpose or purposes for which it is collected, held,
          and
          processed; and
        </li>
        <li>c) authorised users must always be able to access the personal data as required for the authorised purpose
          or
          purposes.
        </li>
      </ul>
    </ul>
    <h5>13. Accountability and Record-Keeping</h5>
    <ul>
      <li>13.1 The Data Protection Officer is responsible for administering this Policy and for developing and
        implementing any applicable related policies, procedures, and/or guidelines.
      </li>
      <li>13.2 The Company shall follow a privacy by design approach at all times when collecting, holding, and
        processing personal data. Data Protection Impact Assessments shall be conducted if any processing presents a
        significant risk to the rights and freedoms of data subjects (please refer to Part 14 for further information).
      </li>
      <li>13.3 All employees, agents, contractors, or other parties working on behalf of the Company shall be given
        appropriate training in data protection and privacy, addressing the relevant aspects of Data Protection Law,
        this
        Policy, and all other applicable Company policies.
      </li>
      <li>13.4 The Company’s data protection compliance shall be regularly reviewed and evaluated by means of Data
        Protection Audits.
      </li>
      <li>13.5 The Company shall keep written internal records of all personal data collection, holding, and processing,
        which shall incorporate the following:
      </li>
      <ul>
        <li>13.5.1 the name and details of the Company, its Data Protection Officer, and any applicable third-party data
          transfers (including data processors and other data controllers with whom personal data is shared);
        </li>
        <li>13.5.2 the purposes for which the Company collects, holds, and processes personal data;</li>
        <li>13.5.3 the Company’s legal basis or bases (including, but not limited to, consent, the mechanism(s) for
          obtaining such consent, and records of such consent) for collecting, holding, and processing personal data;
        </li>
        <li>13.5.4 details of the categories of personal data collected, held, and processed by the Company, and the
          categories of data subject to which that personal data relates;
        </li>
        <li>13.5.5 details of any transfers of personal data to non-EEA countries including all mechanisms and security
          safeguards;
        </li>
        <li>13.5.6 details of how long personal data will be retained by the Company (please refer to the Company’s Data
          Retention Policy);
        </li>
        <li>13.5.7 details of personal data storage, including location(s); and</li>
        <li>13.5.8 detailed descriptions of all technical and organisational measures taken by the Company to ensure the
          security of personal data.
        </li>
      </ul>
    </ul>
    <h5>14. Data Protection Impact Assessments and Privacy by Design</h5>
    <ul>
      <li>14.1 In accordance with privacy by design principles, the Company shall carry out Data Protection Impact
        Assessments for any and all new projects and/or new uses of personal data which involve the use of new
        technologies and where the processing involved is likely to result in a high risk to the rights and freedoms of
        data subjects.
      </li>
      <li>14.2 The principles of privacy by design should be followed at all times when collecting, holding, and
        processing personal data. The following factors should be taken into consideration:
      </li>
      <ul>
        <li>a) the nature, scope, context, and purpose or purposes of the collection, holding, and processing;</li>
        <li>b) the state of the art of all relevant technical and organisational measures to be taken;</li>
        <li>c) the cost of implementing such measures; and</li>
        <li>d) the risks posed to data subjects and to the Company, including their likelihood and severity.</li>
        <li>14.3 Data Protection Impact Assessments shall be overseen by the Data Protection Officer and shall address
          the
          following:
        </li>
        <li>a) the type(s) of personal data that will be collected, held, and processed;</li>
        <li>b) the purpose(s) for which personal data is to be used;</li>
        <li>c) the Company’s objectives;</li>
        <li>d) how personal data is to be used;</li>
        <li>e) the parties (internal and/or external) who are to be consulted;</li>
        <li>f) the necessity and proportionality of the data processing with respect to the purpose(s) for which it is
          being processed;
        </li>
        <li>g) risks posed to data subjects;</li>
        <li>h) risks posed both within and to the Company; and</li>
        <li>i) proposed measures to minimise and handle identified risks.</li>
      </ul>
    </ul>

    <h5>15. Keeping Data Subjects Informed</h5>
    <ul>
      <li>15.1 The Company shall provide the information set out in Part 15.2 to every data subject:</li>
      <ul>
        <li>a) where personal data is collected directly from data subjects, those data subjects will be informed of its
          purpose at the time of collection; and
        </li>
        <li>b) where personal data is obtained from a third party, the relevant data subjects will be informed of its
          purpose:
        </li>
        <ul>
          <li>i) if the personal data is used to communicate with the data subject, when the first communication is
            made;
            or
          </li>
          <li>ii) if the personal data is to be transferred to another party, before that transfer is made; or</li>
          <li>iii) as soon as reasonably possible and in any event not more than one month after the personal data is
            obtained.
          </li>
        </ul>
      </ul>
      <li>15.2 The following information shall be provided in the form of a privacy notice:</li>
      <ul>
        <li>a) details of the Company including, but not limited to, contact details, and the names and contact details
          of
          any applicable representatives and its Data Protection Officer;
        </li>
        <li>b) the purpose(s) for which the personal data is being collected and will be processed and the lawful basis
          justifying that collection and processing;
        </li>
        <li>c) where applicable, the legitimate interests upon which the Company is justifying its collection and
          processing of the personal data;
        </li>
        <li>d) where the personal data is not obtained directly from the data subject, the categories of personal data
          collected and processed;
        </li>
        <li>e) where the personal data is to be transferred to one or more third parties, details of those parties;</li>
        <li>f) where the personal data is to be transferred to a third party that is located outside of the EEA, details
          of
          that transfer, including but not limited to the safeguards in place (see Part 25 of this Policy for further
          details);
        </li>
        <li>g) details of applicable data retention periods;</li>
        <li>h) details of the data subject’s rights under the Data Protection Legislation;</li>
        <li>i) details of the data subject’s right to withdraw their consent to the Company’s processing of their
          personal
          data at any time;
        </li>
        <li>j) details of the data subject’s right to complain to the Information Commissioner’s Office (the
          ‘supervisory
          authority’);
        </li>
        <li>k) where the personal data is not obtained directly from the data subject, details about the source of that
          personal data;
        </li>
        <li>l) where applicable, details of any legal or contractual requirement or obligation necessitating the
          collection
          and processing of the personal data and details of any consequences of failing to provide it; and
        </li>
        <li>m) details of any automated decision-making or profiling that will take place using the personal data,
          including information on how decisions will be made, the significance of those decisions, and any
          consequences.
        </li>
      </ul>
    </ul>


    <h5>16. Data Subject Access</h5>
    <ul>
      <li>16.1 Data subjects may make subject access requests (“SARs”) at any time to find out more about the personal
        data which the Company holds about them, what it is doing with that personal data, and why.
      </li>
      <li>16.2 Employees wishing to make a SAR should do so using a Subject Access Request Form, sending the form to the
        Company’s Data Protection Officer.
      </li>
      <li>16.3 Responses to SARs must normally be made within one month of receipt, however, this may be extended by up
        to two months if the SAR is complex and/or numerous requests are made. If such additional time is required, the
        data subject shall be informed.
      </li>
      <li>16.4 All SARs received shall be handled by the Company’s Data Protection Officer.</li>
      <li>16.5 The Company does not charge a fee for the handling of normal SARs. The Company reserves the right to
        charge reasonable fees for additional copies of information that has already been supplied to a data subject,
        and
        for requests that are manifestly unfounded or excessive, particularly where such requests are repetitive.
      </li>
    </ul>
    <h5>17. Rectification of Personal Data</h5>
    <ul>
      <li>17.1 Data subjects have the right to require the Company to rectify any of their personal data that is
        inaccurate or incomplete.
      </li>
      <li>17.2 The Company shall rectify the personal data in question, and inform the data subject of that
        rectification, within one month of the data subject informing the Company of the issue. The period can be
        extended
        by up to two months in the case of complex requests. If such additional time is required, the data subject shall
        be informed.
      </li>
      <li>17.3 In the event that any affected personal data has been disclosed to third parties, those parties shall be
        informed of any rectification that must be made to that personal data.
      </li>
    </ul>

    <h5>18. Erasure of Personal Data</h5>
    <ul>
      <li>18.1 Data subjects have the right to request that the Company erases the personal data it holds about them in
        the following circumstances:
      </li>
      <ul>
        <li>a) it is no longer necessary for the Company to hold that personal data with respect to the purpose(s) for
          which it was originally collected or processed;
        </li>
        <li>b) the data subject wishes to withdraw their consent to the Company holding and processing their personal
          data;
        </li>
        <li>c) the data subject objects to the Company holding and processing their personal data (and there is no
          overriding legitimate interest to allow the Company to continue doing so) (see Part 21 of this Policy for
          further
          details concerning the right to object);
        </li>
        <li>d) the personal data has been processed unlawfully;</li>
        <li>e) the personal data needs to be erased in order for the Company to comply with a particular legal
          obligation.
        </li>
        <li>f) The personal data is being held and processed for the purpose of providing information society services
          to
          a
          child.
        </li>
      </ul>
      <li>18.2 Unless the Company has reasonable grounds to refuse to erase personal data, all requests for erasure
        shall
        be complied with, and the data subject informed of the erasure, within one month of receipt of the data
        subject’s
        request. The period can be extended by up to two months in the case of complex requests. If such additional time
        is required, the data subject shall be informed.
      </li>
      <li>18.3 In the event that any personal data that is to be erased in response to a data subject’s request has been
        disclosed to third parties, those parties shall be informed of the erasure (unless it is impossible or would
        require disproportionate effort to do so).
      </li>
    </ul>

    <h5>19. Restriction of Personal Data Processing</h5>
    <ul>
      <li>19.1 Data subjects may request that the Company ceases processing the personal data it holds about them. If a
        data subject makes such a request, the Company shall retain only the amount of personal data concerning that
        data
        subject (if any) that is necessary to ensure that the personal data in question is not processed further.
      </li>
      <li>19.2 In the event that any affected personal data has been disclosed to third parties, those parties shall be
        informed of the applicable restrictions on processing it (unless it is impossible or would require
        disproportionate effort to do so).
      </li>
    </ul>

    <h5>20. Objections to Personal Data Processing</h5>
    <ul>
      <li>20.1 Data subjects have the right to object to the Company processing their personal data based on legitimate
        interests, for direct marketing (including profiling), and processing for scientific and/or historical research
        and statistics purposes.
      </li>
      <li>20.2 Where a data subject objects to the Company processing their personal data based on its legitimate
        interests, the Company shall cease such processing immediately, unless it can be demonstrated that the Company’s
        legitimate grounds for such processing override the data subject’s interests, rights, and freedoms, or that the
        processing is necessary for the conduct of legal claims.
      </li>
      <li>20.3 Where a data subject objects to the Company processing their personal data for direct marketing purposes,
        the Company shall cease such processing promptly.
      </li>
      <li>20.4 Where a data subject objects to the Company processing their personal data for scientific and/or
        historical research and statistics purposes, the data subject must, under the Data Protection Legislation,
        “demonstrate grounds relating to his or her particular situation”. The Company is not required to comply if the
        research is necessary for the performance of a task carried out for reasons of public interest.
      </li>
    </ul>

    <h5>21. Direct Marketing</h5>
    <ul>
      <li>21.1 The Company is subject to certain rules and regulations when marketing its services.</li>
      <li>21.2 The prior consent of data subjects is required for electronic direct marketing including email, text
        messaging, and automated telephone calls subject to the following limited exception:
      </li>
      <li>a) The Company may send marketing text messages or emails to a customer provided that that customer’s contact
        details have been obtained in the course of a sale, the marketing relates to similar products or services, and
        the
        customer in question has been given the opportunity to opt-out of marketing when their details were first
        collected and in every subsequent communication from the Company.
      </li>
      <li>21.3 The right to object to direct marketing shall be explicitly offered to data subjects in a clear and
        intelligible manner and must be kept separate from other information in order to preserve its clarity.
      </li>
      <li>21.4 If a data subject objects to direct marketing, their request must be complied with promptly. A limited
        amount of personal data may be retained in such circumstances to the extent required to ensure that the data
        subject’s marketing preferences continue to be complied with.
      </li>
    </ul>
    <h5>22. Personal Data Collected, Held, and Processed</h5>
    Full details of the personal data collected, held, and processed by the Company are located in Google Firebase services. For details of data retention, please refer to the Company’s Data Retention Policy.

    <h5>23. Transferring Personal Data to a Country Outside the EEA</h5>
    <ul>
      <li>23.1 The Company may from time to time transfer (‘transfer’ includes making available remotely) personal data
        to countries outside of the  EEA.
      </li>
      <li>23.2 The transfer of personal data to a country outside of the  EEA shall take place only if one or
        more of the following applies:
      </li>
      <ul>
        <li>23.2.1 the transfer is to a country, territory, or one or more specific sectors in that country (or an
          international organisation), that the European Commission has determined ensures an adequate level of
          protection
          for personal data;
        </li>
        <li>23.2.2 the transfer is to a country (or international organisation) which provides appropriate safeguards in
          the form of a legally binding agreement between public authorities or bodies; binding corporate rules;
          standard
          data protection clauses adopted by the European Commission; compliance with an approved code of conduct
          approved
          by a supervisory authority (e.g. the Information Commissioner’s Office); certification under an approved
          certification mechanism (as provided for in the Data Protection Legislation); contractual clauses agreed and
          authorised by the competent supervisory authority; or provisions inserted into administrative arrangements
          between
          public authorities or bodies authorised by the competent supervisory authority;
        </li>
        <li>23.2.3 the transfer is made with the informed and explicit consent of the relevant data subject(s);</li>
        <li>23.2.4 the transfer is necessary for the performance of a contract between the data subject and the Company
          (or
          for pre-contractual steps taken at the request of the data subject);
        </li>
        <li>23.2.5 the transfer is necessary for important public interest reasons;</li>
        <li>23.2.6 the transfer is necessary for the conduct of legal claims;</li>
        <li>23.2.7 the transfer is necessary to protect the vital interests of the data subject or other individuals
          where
          the data subject is physically or legally unable to give their consent; or
        </li>
        <li>23.2.8 the transfer is made from a register that, under UK or EU law, is intended to provide information to
          the
          public and which is open for access by the public in general or otherwise to those who are able to show a
          legitimate interest in accessing the register.
        </li>
      </ul>
    </ul>
    <h5>24. Data Breach Notification</h5>
    <ul>
      <li>24.1 All personal data breaches must be reported immediately to the Company’s Data Protection Officer.</li>
      <li>24.2 If an employee, agent, contractor, or other party working on behalf of the Company becomes aware of or
        suspects that a personal data breach has occurred, they must not attempt to investigate it themselves. Any and
        all
        evidence relating to the personal data breach in question should be carefully retained.
      </li>
      <li>24.3 If a personal data breach occurs and that breach is likely to result in a risk to the rights and freedoms
        of data subjects (e.g. financial loss, breach of confidentiality, discrimination, reputational damage, or other
        significant social or economic damage), the Data Protection Officer must ensure that the Information
        Commissioner’s Office is informed of the breach without delay, and in any event, within 72 hours after having
        become aware of it.
      </li>
      <li>24.4 In the event that a personal data breach is likely to result in a high risk (that is, a higher risk than
        that described under Part 26.3) to the rights and freedoms of data subjects, the Data Protection Officer must
        ensure that all affected data subjects are informed of the breach directly and without undue delay.
      </li>
      <li>24.5 Data breach notifications shall include the following information:</li>
      <ul>
        <li>24.5.1 The categories and approximate number of data subjects concerned;</li>
        <li>24.5.2 The categories and approximate number of personal data records concerned;</li>
        <li>24.5.3 The name and contact details of the Company’s data protection officer (or other contact point where
          more
          information can be obtained);
        </li>
        <li>24.5.4 The likely consequences of the breach;</li>
        <li>24.5.5 Details of the measures taken, or proposed to be taken, by the Company to address the breach
          including,
          where appropriate, measures to mitigate its possible adverse effects.
        </li>
      </ul>
    </ul>
    <h5>25. Implementation of Policy</h5>
    This Policy shall be deemed effective as of 25 June 2019. No part of this Policy shall have retroactive effect and shall thus apply only to matters occurring on or after this date.


  </div>



</div>
<app-footer-section></app-footer-section>
