<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Template ideas</h2>
      <p>Unlimited ideas to customize the analysis. From daily to-dos, time management or even self-improvement. Here are some sample of template ideas.
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/quad-todos-2.svg">
          <mat-card-content>
            <h5><strong><a href="">Quadrant To-dos</a></strong></h5>
            <p>
<!--              Having trouble get a big picture of what you need to do or not to do? Quadrant to-dos could easily solve the problem. It is better in swotbook because we make it easy for you to do it everyday.-->
              Start action on what matter most. What to be planned and what to be removed from your day.
            </p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/product-position-matrix.svg">
          <mat-card-content>
            <h5><strong><a href="">Product position</a></strong></h5>
            <p>
<!--              Analyse your product position in the market to determine the right strategy for your products. And keep tracking it whenever the market changes.-->
              Put the right strategy for you product and see the number grow.
            </p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/time-analysis.svg">
          <mat-card-content>
            <h5><strong><a href="">Time management</a></strong></h5>
            <p>
<!--              Feel lost of controlling your time and wondering how efficient you have spent your time? This analysis will help you get the idea and help you optimize your time accordingly.-->
              Knowing how much time you spent time on what is important and what is not.
            </p>
            <!--<mat-divider class="mb-1"></mat-divider>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>-->
            <!--<button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>-->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <!--<div class="text-center home-section-action">-->
      <!--<button mat-raised-button mat-lg-button color="accent">LOAD MORE</button>-->
    <!--</div>-->
  </div>
</section>
