<app-header-section></app-header-section>
<div class="container">
  <div class="col-md-8 offset-md-2 text-justify">
    <h3 class="text-center mt-3">PRIVACY POLICY</h3>

    <h5>BACKGROUND:</h5>

    Swotbook.com understands that your privacy is important to you and that you care about how your personal data is used. We respect and value the privacy of everyone who visits this website, www.swotbook.com (“Our site”) and only collect and use your personal data as described in this Privacy Policy. Any personal data we collect will only be used as permitted by law.

    Please read this Privacy Policy carefully and ensure that you understand it.

    <h5>1. Information About Us</h5>
    Our site is owned and operated by Khanin Chomphusri, an individual founder.

    <h5>2. What Does This Policy Cover?</h5>
    This Privacy Policy applies only to your use of our site. Our site may contain links to other websites. Please note that we have no control over how your data is collected, stored, or used by other websites and we advise you to check the privacy policies of any such websites before providing any data to them.

    <h5>3. What Is Personal Data?</h5>
    Personal data is defined by the General Data Protection Regulation (EU Regulation 2016/679) (the “GDPR”) and the Data Protection Act 2018 (collectively, “the Data Protection Legislation”) as ‘any information relating to an identifiable person who can be directly or indirectly identified in particular by reference to an identifier’.
    Personal data is, in simpler terms, any information about you that enables you to be identified. Personal data covers obvious information such as your name and contact details, but it also covers less obvious information such as identification numbers, electronic location data, and other online identifiers.

    <h5>4. What Are My Rights?</h5>
    Under the Data Protection Legislation, you have the following rights, which we will always work to uphold:
    <ul>
      <li>a) The right to be informed about our collection and use of your personal data. This Privacy Policy should
        tell
        you everything you need to know, but you can always contact us to find out more or to ask any questions using
        the
        details in Part 10.
      </li>
      <li>b) The right to access the personal data we hold about you. Part 9 will tell you how to do this.</li>
      <li>c) The right to have your personal data rectified if any of your personal data held by us is inaccurate or
        incomplete. Please contact us using the details in Part 10 to find out more.
      </li>
      <li>d) The right to be forgotten, i.e. The right to ask us to delete or otherwise dispose of any of your personal
        data that we hold. Please contact us using the details in Part 10 to find out more.
      </li>
      <li>e) The right to restrict (i.e. Prevent) the processing of your personal data.</li>
      <li>f) The right to object to us using your personal data for a particular purpose or purposes.</li>
      <li>g) The right to withdraw consent. This means that, if We are relying on your consent as the legal basis for
        using your personal data, you are free to withdraw that consent at any time.
      </li>
      <li>h) The right to data portability. This means that, if you have provided personal data to us directly, We are
        using it with your consent or for the performance of a contract, and that data is processed using automated
        means,
        you can ask us for a copy of that personal data to re-use with another service or business in many cases.
      </li>
      <li>i) Rights relating to automated decision-making and profiling. We do not use your personal data in this way.
      </li>
    </ul>
    For more information about our use of your personal data or exercising your rights as outlined above, please contact us using the details provided in Part 10.
    It is important that your personal data is kept accurate and up-to-date. If any of the personal data we hold about you changes, please keep us informed as long as we have that data.
    Further information about your rights can also be obtained from the Information Commissioner’s Office or your local Citizens Advice Bureau.
    If you have any cause for complaint about our use of your personal data, you have the right to lodge a complaint with the Information Commissioner’s Office. We would welcome the opportunity to resolve your concerns ourselves, however, so please contact us first, using the details in Part 10.

    <h5>5. What Personal Data Do You Collect and How?</h5>
    Subject to the following, we do not collect any personal data from you. We do not place cookies on your computer or device, nor do we use any other means of data collection.
    Our Site collects certain information automatically, including your IP address, the type of browser you are using, and certain other non-personal data about your computer or device such as your operating system type or version, and display resolution.
    If you send us an email, we may collect your name, your email address, and any other information which you choose to give us. For the purposes of the Data Protection Legislation, We are the data controller responsible for such personal data.
    The lawful basis under the Data Protection Legislation that allows us to use such information is article 6(1)(f) of the GDPR which allows us to process personal data when it is necessary for the purposes of our legitimate interests, in this case, the proper operation and functionality of our Site.

    <h5>6. How Do You Use My Personal Data?</h5>
    Where we collect any personal data, it will be processed and stored securely, for no longer than is necessary in light of the reason(s) for which it was first collected. We will comply with our obligations and safeguard your rights under the Data Protection Legislation at all times. For more details on security see Part 7, below.
    As stated above, we do not generally collect any personal data directly from you, but if you contact us and we obtain your personal details from your email, we may use them to respond to your email. The other technical data referred to above is necessary for the technical operation of our Site and will not normally be used in any way to personally identify you.
    We will not share any of your personal data with any third parties for any purposes other than storage on an email and/or web hosting server.

    <h5>7. How and Where Do You Store My Data?</h5>
    Please contact us using the details below in Part 10 for further information about the particular data protection mechanisms used by us when transferring your personal data to a third country.
    Personal data security is essential to us, and to protect personal data, we take the following measures:
    <ul>
      <li>• Limiting access to your personal data to those employees, agents, contractors, and other third parties with
        a
        legitimate need to know and ensuring that they are subject to duties of confidentiality;
      </li>
      <li>• Procedures for dealing with data breaches (the accidental or unlawful destruction, loss, alteration,
        unauthorised disclosure of, or access to, your personal data) including notifying you and/or the Information
        Commissioner’s Office where We are legally required to do so;
      </li>
    </ul>

    <h5>8. Do You Share My Personal Data?</h5>

    We may contract with the following third party for hosting and data storage purposes:
    <ul>
      <li>Google Firebase services.</li>
    </ul>
    If any of your personal data is transferred to a third party, as described above, we will take steps to ensure that your personal data is handled safely, securely, and in accordance with your rights, our obligations, and the third party’s obligations under the law, as described above in Part 7.
    If we sell, transfer, or merge parts of our business or assets, your personal data may be transferred to a third party. Any new owner of our business may continue to use your personal data in the same way(s) that we have used it, as specified in this Privacy Policy (i.e. To communicate with you).
    In some limited circumstances, we may be legally required to share certain personal data, which might include yours, if We are involved in legal proceedings or complying with legal obligations, a court order, or the instructions of a government authority.

    <h5>9. How Can I Access My Personal Data?</h5>
    If you want to know what personal data we have about you, you can ask us for details of that personal data and for a copy of it (where any such personal data is held). This is known as a “subject access request”.
    All subject access requests should be made in writing and sent to the email or postal addresses shown in Part 10. To make this as easy as possible for you, a Subject Access Request Form is available for you to use. You do not have to use this form, but it is the easiest way to tell us everything we need to know to respond to your request as quickly as possible.
    There is not normally any charge for a subject access request. If your request is ‘manifestly unfounded or excessive’ (for example, if you make repetitive requests) a fee may be charged to cover our administrative costs in responding.
    We will respond to your subject access request within 14 days and, in any case, not more than one month of receiving it. Normally, we aim to provide a complete response, including a copy of your personal data within that time. In some cases, however, particularly if your request is more complex, more time may be required up to a maximum of three months from the date we receive your request. You will be kept fully informed of our progress.

    <h5>10. How Do I Contact You?</h5>
    To contact us about anything to do with your personal data and data protection, including to make a subject access request, please use the following details:
    Email address: support@swotbook.com.

    <h5>11. Changes to this Privacy Policy</h5>
    We may change this Privacy Notice from time to time. This may be necessary, for example, if the law changes, or if we change our business in a way that affects personal data protection.
    Any changes will be immediately posted on our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of our Site following the alterations. We recommend that you check this page regularly to keep up-to-date. This Privacy Policy was last updated on 27 June 2019.


  </div>
</div>
<app-footer-section></app-footer-section>
