@import "../home";

.plan-pricing .mat-list-item ::ng-deep .mat-list-item-content {
  display: inline-flex !important;
  text-align: center;
  font-size: .875rem !important;
}

.home-section {
  padding: 80px 0;
}

.line-through-text{
  color: rgba(0, 0, 0, .54) !important;
  text-decoration-line: line-through;
}

.select-button{
  width:120px;
}

.active{
  background-color: #145D81;
  color:white;

  .text-muted{
    color:white !important;

  }
}

.cancel-text{
  font-style:italic;
  color:darkslategray;
}
