<section id="pricings-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2 *ngIf="!isUserSub">Select a Plan</h2>
      <h2 *ngIf="isUserSub">Your plan</h2>

    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-slide-toggle *ngIf="!isUserSub" [(ngModel)]="isAnnualSelected" color="primary" class="mb-1">Save 2 months on annual plan</mat-slide-toggle>
        <div *ngIf="isUserSub" class="ml-3 mt-3">{{displayPeriod()}}</div>
        <div *ngIf="userDayLeft > 0" class="ml-3">You have {{userDayLeft$ | async}} day(s) of subscription left</div>
        <button mat-button *ngIf="userDayLeft > 0" (click)="refundCharge()" class="mt-2 cancel-text" [disabled]="isLoading$ | async">refund</button>
        <button mat-button *ngIf="isUserSub && hasOccurrence" class="mt-2 cancel-text"  (click)="cancelSubscription()" [disabled]="isLoading$ | async">cancel subscription</button>
      </div>
      <div class="col-md-6 text-right">
        THB <mat-slide-toggle [(ngModel)]="isUSD" ></mat-slide-toggle> USD
      </div>
    </div>

    <div fxLayout="row wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="light-gray" [class.active]="userSubType === 'std'">
            <div class="card-title-text">
              <div class="">Standard</div>
              <div class="text-sm text-muted">Learning the tool</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <h1><strong>FREE</strong></h1>
            <mat-list dense class="mb-1">
              <mat-list-item>3 projects</mat-list-item>
              <mat-list-item>6 timeline history</mat-list-item>
              <mat-list-item>Customize row/column headings</mat-list-item>
              <mat-list-item class="line-through-text">Customize section color</mat-list-item>
              <mat-list-item class="line-through-text">Card labeling</mat-list-item>
              <mat-list-item class="line-through-text">Percentage card distribution in in each section</mat-list-item>
            </mat-list>
            <button mat-raised-button *ngIf="!isUserSub" class="mat-accent select-button" (click)="selectPlan('std')" [disabled]=" userSubType === 'std' || (isLoading$ | async)">Select</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="light-gray" [class.active]="userSubType === 'prm'">
          <div class="card-title-text">
              <div class="">Premium</div>
              <div class="text-sm text-muted">Use it for real</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <div *ngIf="isUSD">
              <h1>
                <strong>$
                  <span *ngIf="!isAnnualSelected">2.99 /Mo</span>
                  <span *ngIf="isAnnualSelected">29.9 /Yr</span>
                </strong>
              </h1>
            </div>
            <div *ngIf="!isUSD">
              <h1>
                <strong>฿
                  <span *ngIf="!isAnnualSelected">99 /Mo</span>
                  <span *ngIf="isAnnualSelected">990 /Yr</span>
                </strong>
              </h1>
            </div>

            <mat-list dense class="mb-1">
              <mat-list-item>10 projects</mat-list-item>
              <mat-list-item>20 timeline history</mat-list-item>
              <mat-list-item>Customize row/column headings</mat-list-item>
              <mat-list-item>Customize section color</mat-list-item>
              <mat-list-item class="line-through-text">Card labeling</mat-list-item>
              <mat-list-item class="line-through-text">Percentage card distribution in each section</mat-list-item>

            </mat-list>
            <button mat-raised-button *ngIf="!isUserSub" class="mat-accent select-button" (click)="selectPlan('prm')" [disabled]=" userSubType === 'prm' || (isLoading$ | async)">Select</button>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="33.33" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0" >
          <mat-card-title class="light-gray" [class.active]="userSubType === 'pro'">
            <div class="card-title-text">
              <div class="">Pro</div>
              <div class="text-sm text-muted">Get the most out of it</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <div *ngIf="isUSD">
              <h1>
                <strong>$

                  <span *ngIf="!isAnnualSelected">4.99 /Mo</span>
                  <span *ngIf="isAnnualSelected">49.9 /Yr</span>
                </strong>
              </h1>

            </div>
            <div *ngIf="!isUSD">
              <h1>
                <strong>฿

                  <span *ngIf="!isAnnualSelected">159 /Mo</span>
                  <span *ngIf="isAnnualSelected">1,590 /Yr</span>
                </strong>
              </h1>
            </div>

            <mat-list dense class="mb-1">
              <mat-list-item>Unlimited projects</mat-list-item>
              <mat-list-item>Unlimited timeline history</mat-list-item>
              <mat-list-item>Customize row/column headings</mat-list-item>

              <mat-list-item>Customize section color</mat-list-item>
              <mat-list-item>Card labeling</mat-list-item>
              <mat-list-item>Percentage card distribution in each section</mat-list-item>

            </mat-list>
            <button mat-raised-button *ngIf="!isUserSub" class="mat-accent select-button" (click)="selectPlan('pro')" [disabled]=" userSubType === 'pro' ||(isLoading$ | async)">Select</button>
          </mat-card-content>
        </mat-card>
      </div>


    </div>

  </div>
</section>
