<app-header-section></app-header-section>
<div class="container">
  <h3 class="mt-4">Subscription: {{displayPlan}}</h3>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h4>Billing plan</h4>
      <div class="row">
        <div class="col-6 d-flex align-items-end">Billed {{selectedPlan.period}}</div>
        <div class="col-6 text-right">
          <span style="font-size: 1.4rem;font-weight: bold">{{displayPrice}}</span>
          <small style="font-style: italic">{{displayPerPeriod}}</small>
        </div>
      </div>
      <mat-divider class="my-3"></mat-divider>
      <h4>Credit card</h4>
      <div class="row d-flex justify-content-center" *ngIf="(creditCardList$ | async).length !== 0">
        <mat-card class="credit-card mb-4" [class.card-selected]="isSelected(card.id)" *ngFor="let card of creditCardList">
          <mat-card-content>
            <div class="row mx-0 p-0">
              <div class="col-3 px-0">
                <img class="card-brand-image" [src]="getCreditCardIcon(card.brand)">
                <button mat-icon-button style="color:gray" class="card-del-button" (click)="deleteCard(card.id)" [disabled]="isLoading$ | async">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div class="col-9">
                <small class="card-label">Card no.</small><br>
                **** **** **** {{card.last_digits}}<br>
                <small class="card-label">Name on card</small><br>
                {{card.name}}<br>
                <small class="card-label">Expiration date</small><br>
                {{card.expiration_month}}/{{card.expiration_year}}
              </div>
            </div>

          </mat-card-content>

        </mat-card>
      </div>



      <div class="row" *ngIf="(creditCardList$ | async).length === 0">

<!--        <form class="col-md-6 offset-md-3" [formGroup]="creditCardForm" (submit)="(addCard())">-->
        <form class="col-12" [formGroup]="creditCardForm" (submit)="(addCard())">
          <h5 class="mx-3 mt-3">Add credit card</h5>
          <mat-form-field class="col-12">
            <input maxlength="19" matInput (keypress)="util.onlyNumberInput($event)" placeholder="Credit card number"
                   formControlName="creditCardNumber" type="text"
                   [value]="getCreditCardNumber()|creditCardNumberPipe">
          </mat-form-field>
          <mat-form-field class="col-12">
            <input matInput placeholder="Name on card" formControlName="creditCardName" type="text">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput placeholder="Expire month" maxlength="2" formControlName="expireMonth" type="text"
                   (keypress)="util.onlyNumberInput($event)">
          </mat-form-field>
          <mat-form-field class="col-6">
            <input matInput placeholder="Expire year" maxlength="4" formControlName="expireYear" type="text"
                   (keypress)="util.onlyNumberInput($event)">
          </mat-form-field>

          <mat-form-field class="col-6">
            <input matInput placeholder="CVC" maxlength="3" formControlName="security" type="text"
                   (keypress)="util.onlyNumberInput($event)">
          </mat-form-field>

          <button class="float-right mt-2 mr-3" type="submit" mat-button mat-raised-button color="accent"
                  [disabled]="(isLoading$ | async) || creditCardForm.invalid">Add Card
          </button>

        </form>
      </div>
    </div>
    <div class="col-md-6 offset-md-3">

      <mat-divider class="my-3"></mat-divider>

      <mat-card class="mb-4">
        <mat-card-title>Plan Summary</mat-card-title>
        <mat-card-content class="container">
          <div class="row">
            <div class="col-7">{{displayPlan}} subscription</div>
            <div class="col-5 text-right">{{displayPrice}} {{displayCurrency}}</div>
          </div>
          <div class="row mb-2">
            <div class="col-7">Sales tax</div>
            <div class="col-5 text-right">{{displaySymbol}}0.00 {{displayCurrency}}</div>
          </div>
          <mat-divider style="width:90%; margin:0 5% 0 5%"></mat-divider>

          <div class="row pt-2" style="font-weight: bold">
            <div class="col-7">Total</div>
            <div class="col-5 text-right">{{displayPrice}} {{displayCurrency}}</div>
          </div>

          <div class="row my-4">
            <div class="col-12 text-center d-flex align-items-center justify-content-center">
              <mat-checkbox class="term-checkbox" [(ngModel)]="isTermAccepted"></mat-checkbox>
              <span class="ml-2">I accept the <a class="clickable" [routerLink]="['/terms-and-conditions']">Terms & Conditions</a> and the <a class="clickable" [routerLink]="['/privacy-policy']">Privacy Policy</a></span>
            </div>
            <div class="col-12 text-center mt-3">
              <button mat-button mat-raised-button color="accent" style="width:100%" (click)="checkOut()" [disabled]="!isTermAccepted || (isLoading$ | async) || selectedCreditCardId ===''">Make a payment</button>
            </div>
          </div>

        </mat-card-content>


      </mat-card>
    </div>
  </div>


</div>
<app-footer-section></app-footer-section>
