@import "../home";

.card-brand-image{
  width:100%
}

.card-selected{
  border-color: #145D81 !important;
}

.credit-card{
  width:300px;
  border-style:solid;
  border-width: 6px;
  border-color: white;
}

.card-label{
  font-style:italic;
  color:grey;
}

.card-del-button{

  position:absolute;
  left:-10px;
  top: 94px;

  mat-icon{
    font-weight: bold;
    color: gray;
    font-size: 1rem;
  }
}

a{
  text-decoration-line: underline !important;
}
