<section id="intro-section" class="home-intro-section text-center">
  <div class="container" fxLayout="column" fxLayoutWrap="nowrap">

<!--    <h1 class="home-intro-title">Timeline of your valuable analysis</h1>-->
    <h1 class="home-intro-title" style="text-shadow: none">Faster better everyday!</h1>


    <div>
      Swotbook is a SWOT tool platform to help you analyse, organize and prioritise your tasks, daily.
    </div>

    <app-google-button></app-google-button>
    <app-facebook-button class="mt-2"></app-facebook-button>

<!--    <div class="intro-product">-->
<!--      <img style="width:800px" src="assets/images/swotbook-screen.png" alt="">-->
<!--    </div>-->
  </div>
</section>
