<app-header-section></app-header-section>

<div class="container d-flex align-items-center flex-column">
  <h2 class="mt-4">Thanks with heart</h2>
  <p>Please enjoy the subscription benefit of Swotbook. This will help us greatly to continue improve the product for you.</p>
  <img style="width:120px; height:120px" class="my-3" src="../../../assets/icons/swotbook-logo-with-heart.svg">
  <!--  <button mat-button mat-raised-button color="accent" class="mt-4" [routerLink]="['/swot']">To Canvas</button>-->
  <a mat-button mat-raised-button style="width:160px" color="accent" class="mt-4" [routerLink]="['/swot']">Continue to SWOT</a>
  <a mat-button mat-raised-button style="width:160px" color="primary" class="mt-2 mb-4" href="mailTo:support@swotbook.com">Leave feedback</a>

</div>

<app-footer-section></app-footer-section>
